
<div class="topo-conteudo">
    
    <h2>Programação I - 2016/1</h2>    

</div>

<div class="column-group gutters">
    <div class="tiny-100 small-100 medium-50 large-40 xlarge-30 push-center">
        <h3>Alterar senha</h3>
    <!-- BEGIN BLOCK_MSGERRO -->
        <div class="ink-alert basic warning" role="alert">
            <button class="ink-dismiss">&times;</button>
            <p><b>:/ </b> E-mail ou Senha errados.</p>
        </div>    
    <!-- END BLOCK_MSGERRO -->        
        <form name="formalterarsenha" class="ink-form " method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
            <div id="boxformalterarsenha">
                <input name="formalterarsenha" type="hidden" value="500">
                <div class="control-group">
                    <label for="senha">Nova Senha</label> 
                    <div class="control">
                        <input id="email" name="novasenha" type="password">
                    </div>    
                </div>
                <div class="control-group" id="camposenha">
                    <label for="senha">Confirmar Nova Senha</label> 
                    <div class="control">
                        <input id="senha" name="novasenha2" type="password">                
                    </div>    
                </div>
                <div class="formcontrole push-bottom">
                    <div id="controleformentrar">
                        <button type="submit" class="ink-button blue " style="margin:0" name="" id="btnentrar" value="entrar">Alterar senha</button>
                    </div>
                </div>
            </div>
            <div id="boxloading" class="escondido">
                <center><br> <i class="fa fa-circle-o-notch fa-spin fa-3x" style="color:#c0c0c0"></i> <br> Aguarde um instante...</center>
            </div>
            <div id="boxsucesso" class="escondido">
                <center><br>
                    <i class="fa fa-send fa-1x" style="color:#0f75da"></i>
                    <br>Uma mensagem foi enviada para o seu e-mail com as instruções para renovar a sua senha.
                    <br><a id="btnvoltar" href="#" style="font-size: 12px; clear:both">Voltar</a>
                </center>
            </div>
            <div id="boxerro" class="escondido">
                <center><br>
                    <i class="fa fa-warning fa-2x" style="color:#FFCB6B"></i>
                    <br>Não foi possível realizar sua solicitação.
                    <div id="msgerrorlogin"></div>
                    <br><a id="btnvoltar2" href="#" style="font-size: 12px; clear:both">Voltar</a>
                </center>
            </div>
        </form>
                
        
    </div>

</div>


