<footer class="clearfix">
    <div class="ink-grid">
<!--        <ul class="unstyled inline half-vertical-space">
            <li class="active"><a href="#">About</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>-->
        <br>        
        <p class="note">AAP - Ambiente de Aprendizagem para Programação.</p>
    </div>
</footer>    
