
<div class="topo-conteudo">
    
    <h2>Olá {OLA_USER},</h2>
    <p class="fw-300">Programação I - 2015/2</p>

</div>

<div class="column-group gutters push-center">
    <div class="tiny-100 small-100 medium-33 large-33 xlarge-33 hide-all">
        <h3>Profile,</h3>
        <ul class="unstyled" style="margin-left: 8px">
            <li class="fw-bold">Configuração</li>
            <li><a href="{LINK_CONFIGUSUARIO}"><i class="fa fa-gear"></i> Alterar Senha</a></li>
        </ul>                        
    </div>
    
    <div class="tiny-100 small-100 medium-50 large-33 xlarge-33">
        <h2 class="fw-300" style="color:#1E5B98"> Arquiteturas Pedagógicas </h2>
        <div class="boxborder">
            <div class="boxborderhead">                
                <h4 ><i class="fa fa-pencil"></i> Listas de APs</h4>
            </div>
            <div class="boxborderbody">                
                <ul class="" style="list-style-type: square;">
                <!-- BEGIN BLOCK_LISTAS -->
                    <li>
                        <a href="{LINK_MOSTRALISTA}" id="{EXERID}">{EXERTITULO}</a>
                    </li>        
                <!-- END BLOCK_LISTAS -->
                </ul>
                <div class="ink-alert basic info align-center" role="alert">
                    <p><b>Iniciando! </b>Ainda não temos Listas de Exercícios, aproveite para estudar.
                    </p>
                </div> 
                <!-- FINALLY BLOCK_LISTAS -->
            </div>
        </div>
        
        <div class="boxborder hide-all">
            <div class="boxborderhead">                
                <h4 ><i class="fa fa-pencil-square"></i> Projetos e Trabalhos</h4>
            </div>
            <div class="boxborderbody">                
                <ul class="" style="list-style-type: square;">
                <!-- BEGIN BLOCK_PROJETOS -->
                    <li>
                        <a href="{LINK_MOSTRAPROJETO}" id="{PROJETOID}">{PROJETOTITULO}</a>
                    </li>        
                <!-- END BLOCK_PROJETOS -->
                <div class="ink-alert basic info align-center" role="alert">
                    <p><b>Iniciando! </b>Ainda não temos um projeto ou trabalho para desenvolver.
                    </p>
                </div> 
                <!-- FINALLY BLOCK_PROJETOS -->
                </ul>
            </div>
        </div>        
        
    </div>
    <!-- BEGIN BLOCK_ADMINISTRATIVO -->
    <div class="tiny-100 small-100 medium-50 large-33 xlarge-33">
        <h2 class="fw-300" style="color:#1E5B98"> Professor </h2>
        <div class="boxborder">
            <div class="boxborderhead">                
                <h4><i class="fa fa-cog"></i> Painel</h4>
            </div>
            <div class="boxborderbody">
                <ul class="unstyled">
                    <li class="fw-bold ini-li-tit">Listas de APs</li>
                    <li class="ini-li-link"><a href="{LINK_LISTEXER}"><i class="fa fa-file-text-o"></i> Listas de APs</a></li>
                    <li class="ini-li-link"><a href="{LINK_NOVALIST}"><i class="fa fa-plus-square-o"></i> Nova AP</a></li>
                    <li class="fw-bold ini-li-tit">Exercícios</li>
                    <li class="ini-li-link"><a href="{LINK_BASEEXER}"><i class="fa fa-database"></i> Base de Exercícios</a></li>
                    <li class="ini-li-link"><a href="{LINK_NOVOEXER}"><i class="fa fa-file-o"></i> Novo Exercício</a></li>
                    <li class="fw-bold ini-li-tit">Usuários</li>
                    <li class="ini-li-link"><a href="{LINK_LISTAUSUARIO}"><i class="fa fa-users"></i> Todos os Usuários</a></li>
                    <li class="ini-li-link"><a href="{LINK_TRANCARAMB}"><i class="fa fa-lock"></i> Bloquear Ambiente</a></li>
                   <div class="hide-all">
                    <li class="fw-bold ini-li-tit">Projetos e Trabalhos</li>
                    <li class="ini-li-link"><a href="{LINK_LISTPROJETO}"><i class="fa fa-file-text-o"></i> Todos os Projetos e Trabalhos</a></li>
                    <li class="ini-li-link"><a href="{LINK_NOVOPROJETO}"><i class="fa fa-plus-square-o"></i> Novo Projeto ou Trabalho</a></li>
                   </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- END BLOCK_ADMINISTRATIVO -->
</div>


