<div id="topbarra">
    <nav class="ink-navigation ink-grid">
            <ul class="menu horizontal push-left">
                <li><a href="{LINK_INICIO}" class="menu logolink">AAP<small class="fw-300" style="color:white; font-size: 12px"> beta</small></a></li>
        </ul>
        <!-- BEGIN BLOCK_LOGADO -->
        <ul class="menu horizontal black push-right">
            <li class=""><a href="{LINK_INICIO}" class="fw-100"><i class="fa fa-university"></i><span class="hide-tiny hide-small"> Início</span></a></li>
            <li class=""><a href="{LINK_USER}" class="fw-100"><i class="fa fa-user"></i><span class="hide-tiny hide-small"> {USER_NOME}</span></a></li>
            <li class=""><a href="{LINK_SAIR}" title="Entrar"><i class="fa fa-sign-out"></i><span class="hide-tiny hide-small"> Sair</span></a></li>
        </ul>
        <!-- END BLOCK_LOGADO -->
    </nav>
</div>       
