<div class="topo-conteudo">
    
    <h2>Olá {OLA_USER},</h2>
    <p class="fw-300">Programação I - 2015/2</p>

</div>

<div class="column-group gutters">
    <div class="push-center">
        
    <div class="ink-alert basic warning align-center" role="alert">        
        <p><b>Em horário de Avaliação</b> <br>No momento o ambiente está parcialmente bloqueado, pois estamos em período de prova. </p>
    </div>
        
    </div>
</div>


