<h2 class="fw-400"><i class="fa fa-lock"></i> Bloquear Ambiente</h2>

<div class="ink-tabs top all-80 push-center boxuserconfig" data-prevent-url-change="true">
    <form name="formconfigtranca" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
        <input name="formconfigtranca" type="hidden" value="502">
        <div class="control" style="clear: both; padding: 0 0 0 10px">            
            <ul class="unstyled" style=" margin: 0;">
                <li>
                    <input type="radio" id="liberarambiente" name="trancar" {T0CK} value="0"><label class="fw-700" for="liberarambiente" style="line-height:16px; font-size: 110%"> Liberar Ambiente</label>
                </li>
                <li style="margin:15px 0 0 0;">
                    <input type="radio" id="bloquearambiente" name="trancar" {T1CK} value="1"><label class="fw-700" for="bloquearambiente" style="line-height:16px; font-size: 110%"> Bloquear Ambiente</small></label>
                </li>
                <li>
                    <ul class="unstyled" style="margin: 0; padding: 0 0 0 15px;">
                        <li style="margin: 0; padding: 0;">
                            Bloquear, exceto para:
                        </li>
                        <!-- BEGIN BLOCK_LISTAS -->
                        <li style="margin: 0 0 0 5px; padding: 0;">
                            <label><input type="checkbox" name="idlistexer{EXERID}" {EXERCHECKED} value="{EXERID}"> {EXERTITULO}</label>
                        </li>        
                        <!-- END BLOCK_LISTAS -->                        
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="formcontrole all-100">
            <button type="submit" class="ink-button green" name="btnsalvarconfigtranca" id="btnsalvarconfigtranca" value="salvarconfigtranca">Salvar</button>
            <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
        </div>      
        
    </form> 
</div>    
