<h2 class="fw-400"><i class="fa fa-user"></i> Configurações</h2>

<div class="ink-tabs top all-80 push-center boxuserconfig" data-prevent-url-change="true">
    
    <ul class="tabs-nav">
        <li><a class="tabs-tab" href="#perfil">Perfil</a></li>
        <li><a class="tabs-tab" href="#alterar">Alterar Senha</a></li>
    </ul>

    
    <div id="perfil" class="tabs-content">
        <form name="formconfiguser" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
            <div class="tiny-100 small-100 medium-70 large-70 xlarge-70 vertical-nospace">
                <input name="formconfiguser" type="hidden" value="502">

                <div class="control-group">
                    <label class="labeltitulo fw-bold" for="text-input">Nome</label> 
                    <div class="control">
                        <input name="nome" id="nome" type="text" placeholder="" value="{USERNOME}" style="width:300px"><br>
                        <small>{USERMATRICULA} : {USEREMAIL}</small>
                    </div>
                </div>       

            </div>
            <div class="tiny-100 small-100 medium-30 large-30 xlarge-30">

            </div>    

            <div class="formcontrole all-100">
                <button type="submit" class="ink-button green" name="" id="btnsalvarconfig" value="salvarconfig">Salvar Alterações</button>
                <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
            </div>
        </form> 
    </div>
    <div id="alterar" class="tabs-content">
        <!-- BEGIN BLOCK_ERROALTERARSENHA -->
        <div class="ink-alert basic warning" role="alert">
            <button class="ink-dismiss">&times;</button>
            <p><b>Alterar Senha:</b> Não foi possível alterar a senha</p>
        </div>
        <!-- END BLOCK_ERROALTERARSENHA -->     
        <form name="formconfiguseralterar" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
            <div class="tiny-100 small-100 medium-70 large-70 xlarge-70 vertical-nospace">
                <input name="formconfiguseralterar" type="hidden" value="502">

                <div class="control-group">
                    <label class="labeltitulo fw-bold" for="text-input">Alterar Senha</label> 
                    <div class="control">
                        <input name="senhaatual" id="senhaatual" type="password" placeholder="Senha atual" value="" style="width:200px"> <br>
                        <input name="senhanova" id="senhanova" type="password" placeholder="Nova senha" value="" style="width:200px"> <br>
                        <input name="confirmasenha" id="confirmasenha" type="password" placeholder="Confirmar nova senha" value="" style="width:200px">
                    </div>
                </div>        

            </div>            
            
            <div class="formcontrole all-100">
                <button type="submit" class="ink-button green" name="" id="btnsalvarconfig" value="salvarconfig">Alterar Senha</button>
                <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
            </div>
        </form>
    </div>
</div>