<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> Usuário salvo com sucesso</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<h3>Usuários</h3>

<ul class="unstyled">
<!-- BEGIN BLOCK_USUARIO -->
    <li class="all-25 pull-left align-center">
        <img src="{USUARIOFOTO}" style="width:70px;"/><br>
        <a href="{LINK_USUARIOID}" id="{USUARIOID}" perfil="{USUARIOPERFIL}">{USUARIONOME}</a> <br>
        <small>({USUARIOEMAIL})</small>
    </li>        
<!-- END BLOCK_USUARIO -->
<div class="ink-alert basic info" role="alert">
    <p><b>Iniciando! </b> Ainda não temos usuários cadastrados.</p>
</div> 

<!-- FINALLY BLOCK_USUARIO -->
</ul>


