<h2 class="fw-400">Nova Lista</h2>

<form name="formnovaelista" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
    <div class="tiny-100 small-100 medium-70 large-70 xlarge-70 vertical-nospace">
        <input name="formlista" type="hidden" value="502">

        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Título</label> 
            <div class="control">
                <input name="titulo" id="titulo" type="text" placeholder="Título da Lista de Exercício">
            </div>
        </div>
        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Prazo para Envio</label> 
            
            <div class="control">
                <!---<input type="radio" id="1" name="visualizacao" checked="checked" value="1"><label for="1" style="line-height:16px;">1<small>(fácil)</small></label>--->
                Data: <input type="text" class="ink-datepicker" data-format="d-m-Y" style="width: 100px; text-align: center; padding: 0"/><small> Dia-Mês-Ano</small>
                <br><small> Será permitido o envio de solução após o prazo.</small>
            </div>
        </div>        

        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Exercícios</label>
            <div class="column-group gutters all-100">                                          
                    <div class="all-50 ">                    
                        <ul class="unstyled">
                            <li><i class="fa fa-file-text-o"></i> Lista</li>
                            <li>
                                <div style="width: 100%; border:1px solid red;">
                                    
                                </div>
                            </li>                         
                        </ul>

                    </div>
                    <div class="all-50">
                        <ul class="unstyled">
                            <li><i class="fa fa-database"></i> Base de Exercícios</li>                         
                            <li>
                                <div style="width: 100%; border:1px solid green;">
                                    
                                </div>
                            </li>                         
                        </ul>
                    </div>
                
            </div>
        </div>  
 
    </div>
    <div class="tiny-100 small-100 medium-30 large-30 xlarge-30">

    </div>    

    <div class="formcontrole all-100">
        <button type="submit" class="ink-button green" name="" id="btnsalvarexercicio" value="salvarexercicio">Enviar Lista de  Exercício</button>
        <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
    </div>

</form>
