<div id="boxprofile" class="push-center" userid="{USUARIOID}" idperfil="{USUARIOPERFIL}">
    <div id="profileimg">
        <img src="{USUARIOFOTO}"/><br>        
    </div>
    <div id="profiledescri">
        <ul class="unstyled">
            <li>
                <h3>{USUARIONOME}</h3>
            </li>
            <li>
                {USUARIOMATRICULA} / {USUARIOEMAIL}
            </li>
            <li class="fw-300">                
                {USUARIODESCRICAO}
            </li>
        </ul>
    </div>    
</div>