@charset "UTF-8";
*{
    border: 0;
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
    /*background: #fcfcfc;*/
    /*background: #fff url("../img/selohomologacao.jpg") repeat center center;*/
    background: #fff url("../img/backgr1.png") repeat center center;
}
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -70px;
    overflow: auto;
}

.divconteudo{
    padding-top: 30px;
}

.bgbranco{
    background-color: white;
}
.boxconfig{
    border-left: 3px solid #f50;
    padding: 5px 15px;
    background-color: white;
}
.boxconfig2{
    border-left: 3px solid #f90;
    padding: 5px 15px;
    background-color: white;    
}

.boxazul{
    border: 1px solid #F0F0F0; 
    background-color: white;    
    border-left: 2px solid #1E5B98; 
    padding: 4px 8px;
    
    margin-bottom: 15px;
    
}

#topbarra{
    background: #1a1a1a;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #1A1A1A none repeat scroll 0% 0%;
    top: 0px;   
}

.push, footer {
    height: 70px;
    margin-top: 0;
}
footer {
    background: #f0f0f0;
    border: 0;
}
footer * {
    line-height: inherit;
}

.logolink{
    font-weight:700;
    font-size:26px;
    padding:0 !important;
    color:#E0E0E0;
}
.logolink:hover{
    text-decoration: none;
    color:white;
}

.seepointer:hover{
    cursor: pointer;
}

/*
*  C U S T O M I Z A Ç Ã O - I N K
*/

.vertical-nospace{
    padding-bottom: 0 !important;
     margin-bottom: 0 !important;
       padding-top: 0 !important;
        margin-top: 0 !important;
}
.ink-button.smaller{
    padding: 2px 5px;
    font-size: 14px;
    margin: 0;
}

.ink-button.newcolor          { color: #FFF; background: #FF9C00 none repeat scroll 0% 0%; border: 1px solid #D88400; }
.ink-button.newcolor[disabled]{ color: #FFF; background: #FF9C00 none repeat scroll 0% 0%; border: 1px solid #D88400; }

/*
* Customizações adicionais
*/

.boxborder{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #eee;
    background: white;
    padding: 0;
    margin-bottom: 15px;
    
    width: auto;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px; 
}
.boxborderhead{
    padding: 16px 16px 14px 16px;
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
}
.boxborderhead h1,.boxborderhead h2,.boxborderhead h3,.boxborderhead h4,.boxborderhead h5,.boxborderhead h6{
    margin-bottom: 0;
}
.boxborderbody{
    padding: 0px 16px  10px 16px;
    /*background: #f0f0f0;*/
}

/*
*  F O R M U L A R I O S
*/

.escondido{
    display: none;
}

.formcontrole{
    border-top: 1px dotted #BBB;
    padding: 8px 0;   
}
.labeltitulo{
    font-size: 130%;
    color:  #f50;
}
.labeltitulo2{
    font-size: 130%;
    color:  #1E5B98;
}
.labeltitulo3{
    font-size: 105%;
    color:  #1E5B98;
}

.title_box { 
    border: #E0E0E0 1px solid; 
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    padding: 0 10px 0 10px ;
    margin: 10px 0 15px 0;    
    background-color: white; 
}

.title_box h5 { 
    position: relative; 
    top : -0.7em;
    margin-left: 0px;
    margin-bottom: 0px !important;
    display: inline; 
    background-color: white; 
}

.title_box div {
    
}

/*.boxcodigohaskell{
        
    border: 1px solid #ccc !important;

}*/
/*Retorno do Hugs*/
.result200{
    line-height: 1 !important;
    color: black !important;
    /*background: black !important;*/
    height:200px !important;
    overflow:  scroll-y !important;    
}
.result{
    line-height: 1 !important;
    color: black !important;
    /*background: black !important;*/
    margin-bottom: 15px;
    overflow:  scroll-y !important;    
}
.saidahugs{
    background-color: black !important;
}

/*
*  I N I C I O
*/
.topo-conteudo{
    border-bottom: 1px solid #bbb;
    margin-bottom: 30px;
}
.listalink{
    padding: 0px 0px 0px 5px;
}
.listalink li{
    list-style-type:none;
}
.ini-li-tit{
    
}
.ini-li-link{
    margin: 0 0 0 10px;   
}


/*
*  I N I C I O
*/
.inputapp{
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-weight: 300;
    width: 100%;
    border-radius: 0px;
    padding: 0!important;
    margin: 0!important;
    
    
    border-top   : 1px solid transparent !important;
    border-left  : 1px solid transparent !important;
    border-right : 1px solid transparent !important;
    border-bottom: 1px solid #AAA !important;
    
    
    resize: none;
    background: transparent !important;
    
    box-shadow: none;
    outline: 0px none;
}

.listarcabecalho{
    
}
.listarlinha{
    /*border: 1px solid green;*/
    margin:0; 
    padding: 2px 4px;
    
}
.listarlinha:hover{
    background-color: #F6F6FF;
    font-weight: 500;
}

/*
*  U S U A R I O
*/
#boxprofile{
    width: 600px;
    overflow: hidden;

}
#profileimg{    
    float: left;
    width: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-right: none;
    
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
        
}
#profiledescri{
    border: 1px solid #ccc;
    float: right;
    width: 500px;
    padding: 50px 0 20px 15px;
    
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    
}

/* ADM USER */

.boxuserconfig{
    
}


/*
*  E X E R C I C I O
*/

.boxexercicio{
    padding-right: 15px;
}
.exerenunciado{
    margin-bottom: 10px;    
}
.exerenunciado p{
    padding: 0 !important;
    margin: 0 !important;
    
}
.tabletestes{
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px; 
            
    box-shadow: 1px 1px 2px #888888;
}

.boxlistaexer{  
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #eee;
    background: white;
    
    padding: 16px;
    margin-bottom: 0;
    
    /*width: auto;*/
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;            
            
}
.boxlistaexer p,
.boxlistaexer h1,
.boxlistaexer h2,
.boxlistaexer h3,
.boxlistaexer h4,
.boxlistaexer h5,
.boxlistaexer h6{
    margin: 0;
    padding: 0;
}

.listatexto{
    margin-bottom: 20px;
}

.boxsolucaominhas{
    margin-top: 50px;
    padding: 0px 0 0 15px;
    border-left: 1px solid #e1e1e1;
}

.boxlinksolucoes ul{
    margin: 0;
    padding: 0;
}
.boxlinksolucoes ul li{
    margin: 0;
    padding: 0 0 0 5px;
}
.boxlinksolucoes ul li.tit{
    margin: 5px 0 0 0;
    padding: 0 0 0 0;
    font-weight: bold;
}
.boxlinksolucoes ul li.lisolucao{
    margin: 0;
    padding: 1px 0 1px 5px;
    border-left: 1px solid transparent;
    width: 100%;
    display: inline-block;
}
.boxlinksolucoes ul li.lisolucao:hover{
    background-color: #F0F0F0;
    border-left: 1px solid lightsteelblue;
}
.boxlinksolucoes ul li.lisolucao.socializado{
    border-left: 2px solid #FF9C00;
}
.boxlinksolucoes ul li.lisolucao a{
    margin: 0 3px 0 10px;
}

.boxsolucao{    
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #eee;
    background: white;
    
    /*padding: 16px;*/
    margin-bottom: 10px;
    
    width: auto;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;  
}
.boxsrel{
    background-color: #FCFCFC;    
    padding: 5px 5px 8px 10px;    
}
.boxcoments{
    background-color: white;
    padding: 5px 5px 8px 10px;    
}
#linksolucaocompleta{
    float:right;    
}

.asolucao{
    padding: 10px;
    margin-bottom: 15px;
}

.solucaotexto{
    padding: 0px 10px 10px 10px;
    margin: 5px 10px 10px 5px;
    border-left: 2px solid #1E5B98;
}

.boxcomentario{
    margin: 0 0 5px 0;
    border-bottom: 1px solid #F0F0F0;
}
.boxcomentario .nome{    
    font-size: 14px;
}
.boxcomentario .comentario{
    font-size: 14px;
}
.imgusercoment{
    float: left;
    height: 35px;
    width:  35px;
        
    text-align: center;
    padding-top: 8px;
    
    border:1px solid #C6C6C6;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;    
}
.divtextarea{
    width:auto; 
    margin: 0 0 2px 36px;
    
}
.textareacoment{
    min-height: 35px !important; 
    height: 35px;
    resize: vertical !important; 
    font-size: 90%; 
    line-height: 1; 
    color:#222;     
    width: 100%;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;        
    
}

.textareacodigo{
    font-size: 12px !important;
    font-family: monospace !important;
    line-height: 115%;
    color:#333;
    resize: vertical !important;
}

.precodigo{
    margin: 5px 0;
    font-size: 14px !important;
    font-family: monospace !important;
    line-height: 115%;
    color:#333;    
}

/*
* L I S T A   D  E   E X E R C I C I O
*/

.boxbaseexer{
/*    height: 360px;*/
    border:  1px solid #CCC;
    background-color: white;
    padding: 5px 0;
    /*overflow-y: scroll;*/    
    resize: both; 
    overflow: auto;
}

.liexer{
    padding: 2px;
    margin: 0 4px 4px 0;
    font-size: 90%;
    
    border: 1px solid #ddd;
    background: #FCFCFC;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    
    overflow: hidden;        
}
.liexer:hover{
    background: #F0F0FF;    
}
.liexer.checked{
    font-weight: bold;
}


.liexer .liexertit{
    line-height: 1
}


.boxformsocial{    
    
}
.inptdatasmall{
    margin: 0 !important;
    padding: 0 !important;
}
.soclitit{
    font-weight: 400;
    margin: 0 0 3px 0;
}
.soclirad{
    margin: 0 0 2px 5px;
}
.inptradio{
    position: relative !important;
}

/* RELATORIO DA LISTA DE EXERCÍCIOS*/

.tablerltexer td,.tablerltexer th{
    padding: 3px !important;
}
.tablerltexer thead{
    background-color: #FCFCFC;
}


.tablecomp{
    background: white;
    
}


.tablecomp {
    background: white;
    
}

.tablecomp th {
    padding: 10px;
    border: 1px solid #DDD;
    padding: 8px 12px;
    text-align: left;   
     
}
.tablecomp td:hover{
    background-color: #F6F6FF;
    cursor: pointer;    
}
.tablecomp td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #DDD;
}

/* Quadro de comparações da ferramenta FORMAR DUPLAS*/
.tablecomp2{
    background: white;
    
}


.tablecomp2 {
    background: white;
    
}

.tablecomp2 th {
    padding: 8px;
    border: 1px solid #DDD;
    padding: 6px 9px;
    text-align: left;   
     
}
.tablecomp2 td:hover{
    background-color: #F6F6FF;
    cursor: pointer;    
}
.tablecomp2 td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #DDD;
}
