<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo exercício foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
    <!-- BEGIN BLOCK_EXERCICIO -->

    <div class="boxborder">
        <div class="boxborderhead">
            <div class="pull-right">
                <a class="fw-700 ink-button blue small" href="{LINK_NOVOEXER}"><i class="fa fa-file-o"></i> Novo Exercício</a>
            </div>
            <h2 class="fw-400"><i class="fa fa-database"></i> Base de Exercícios</h2>        
        </div>
        <div class="boxborderbody" style="overflow: hidden;">
            <ul class="unstyled">
            <!-- BEGIN BLOCK_EXERCICIOLINK -->
                <!-- BEGIN BLOCK_DATATIT -->                    
                <li class="fw-700" style="clear: left; margin: 15px 0 0px 0; padding: 5px 0 6px 0; border-bottom: 1px solid transparent;border-top: 1px solid #BBB">{DATATIT}</li>
                <!-- END BLOCK_DATATIT -->        
                <li class="all-20 pull-left" style="overflow: hidden; padding: 2px; margin: 0;">
                    <div class="liexer" style="overflow: hidden; ">
                        <a href="{LINK_EXERCICIOID}" id="{EXERID}" style="padding: 0 0 0 4px;">{EXERTITULO}</a>                    
                        <a class="ink-button small pull-right" style="padding: 2px 3px; margin: 0" href="{LINK_EXEREDITAR}"><i class="fa fa-edit"></i></a>                        
                    </div>
                </li>        
            <!-- END BLOCK_EXERCICIOLINK -->        
            </ul>
        </div>
    </div>
    
    <!-- END BLOCK_EXERCICIO -->
    
    
<div class="ink-alert basic info align-center" role="alert">
    <p><b>Iniciando! </b> Ainda não temos exercícios cadastrados.<br> Você pode cadastrar um novo exercício clicando no botão "Novo Exercício"</p>
</div>         
    
    <!-- FINALLY BLOCK_EXERCICIO -->
    



