
<div class="">
    <div class="boxlistaexer" id="{EXERID}">
        <div class="exerenunciado">        
            <h4 class="">{EXERTITULO}</h4>
            <p>{EXERENUNCIADO}</p>
        </div>    
    </div>        
    
<!---    <a href="#" id="myModalTrigger1" class="ink-button">Open example modal</a>    --->
        
    
    <div class="boxborder" style="margin-top: 15px" >
        <div class="boxborderhead">
            <h3 class="fw-400" >Comparação de Soluções</h3>
        </div>
        <div class="column-group boxborderbody center push-center" style="margin: 10px 0 0 0; padding: 20px; text-align: center;">
    
        {RESULTADO}
    
        </div>
    </div>
        
    
<div class="ink-shade fade">
    <div id="myModal" class="ink-modal fade" data-trigger="#myModalTrigger1" data-width="90%" data-height="90%" role="dialog" aria-hidden="true" aria-labelled-by="modal-title">
        <div class="modal-header" style="padding: 5px;margin: 0">
            <button class="modal-close ink-dismiss"></button>
            <h3 style="padding: 0;margin: 0" id="modal-title">Soluções comparadas</h3>
        </div>
        <div class="modal-body" id="modalContent">
            <div class="column-group all-50 pull-left">
                <h5>Aprendiz 01</h5>
                    
                <div class="monospace" style="font-size: 12px; overflow: hidden">
                <pre>
baralhopp = [(x,y) | x<-[1..4], y<-[1..13], even x,even y]
baralhoii = [(x,y) | x<-[1..4], y<-[1..13], odd x,odd y]
baralhoip = [(x,y) | x<-[1..4], y<-[1..13], odd x,even y]
baralhopi = [(x,y) | x<-[1..4], y<-[1..13], even x,odd y] 

jog1 = take 9 baralhopi 
jog2 = take 9 baralhoip

baralhodois = [jog1,jog2,drop 9 baralhopi ++ 
               drop 9 baralhoip ++ baralhopp ++ baralhoii]              
                </pre>
                </div>

            </div>
            
            <div class="column-group all-50 push-left">
                <h5>Aprendiz 04</h5>
                
                <div class="monospace" style="font-size: 12px; overflow: hidden; overflow-wrap: break-word;">
                <pre>
jog1 b = [b!!i | i <- [0 .. 17], even i || i == 0]
jog2 b = [b!!i | i <- [0 .. 17], odd i]

remove [] _ = []
remove b 0 = b
remove b qtd = remove (tail b) (qtd - 1)

distribui b = (jog1 b, jog2 b, remove b 18)  
            
                </pre>
                </div>
            </div>
            <div class="column-group all-100 push-left">
                <Br>
                Resultado da comparação: 36.51%
            </div>
        </div>

    </div>
</div>

    
    
    
    
</div>

