<form name="formnovasolucao" id="formnovasolucao" class="ink-form tiny-100 small-100 medium-100 large-100 xlarge-70 push-center" method="POST" enctype="application/json" action="{LINK_FORMACTION}">
    <input name="formsolucao" type="hidden" value="500">
    <input name="idexercicio" id="idexercicio" type="hidden" value="{IDEXERCICIO}">
    <input name="ids" id="ids" type="hidden" value="0">
    
    <!---<div class="ink-alert block info exerenunciado" role="alert">--->
    <div class="boxlistaexer">
        <div class="exerenunciado">        
            <h4 class="">{TITULOEXERCICIO}</h4>
            <p>{ENUNCIADOEXERCI}</p>
        </div>    
    </div>    
    
    <div class="control-group">
        <label class="labeltitulo2 fw-bold" for="text-input">Compreensão do Problema</label> 
        <div class="control">            
            <textarea id="mytextarea1" name="mytextarea1" style="width:100%; resize: vertical;">{EDITCOMPREENSAO}</textarea>
        </div>        
    </div>
    
    <div class="control-group">
        <div class="all-100">
            <label class="labeltitulo2 fw-bold" for="text-input">Planejamento de Testes <small class="fw-300" ></small></label>
            <div class="all-100 ">
            <div class="control">
            
                <table class="ink-table alternating tabletestes" style="border-bottom: 1px solid #AAA; margin-bottom: 5px">
                    <thead>
                        <tr>
                            <th width="33%" class="align-left">Descrição</th>
                            <th width="33%" class="align-left">Dados de Entrada
                                <span class="ink-tooltip ink-badge blue fw-bold" style="padding: 2px 3px 3px 3px; line-height:1; margin: 0 0 0 2px;"
                                      data-tip-html="<b>Dados de Entrada</b><br>Entre com os dados da entrada, não é necessário o nome da função,<br>apenas os valores.</b>">
                                    ?
                                </span>
                            </th>
                            <th width="33%" class="align-left">Saída Esperada</th>
                            <th style="width: 30px;"></th>
                        </tr>
                    </thead>
                    <tbody id="bodyteste">
                        <!-- BEGIN BLOCK_SOLUTESTE -->
                        <tr id="trteste1">
                            <td width="30%"><input class="inputapp inputsteste" name="descricao{CONT}" type="text" placeholder="" value="{TESTEDESCRICAO}"></td>
                            <td width="30%"><input class="inputapp inputsteste" name="entrada{CONT}" type="text" placeholder="" value="{TESTEENTRADA}"></td>
                            <td width="30%"><input class="inputapp inputsteste" name="saidaes{CONT}" type="text" placeholder="" value="{TESTESAIDAES}"></td>
                            <td style="padding: 0 3px 0 0" style="width: 30px;"><div class="btnexcluiteste ink-button red pull-right smaller" onclick="return excluiTesteLinha({CONT})" title="Excluir este teste" style="float: right" value="1"><i class="fa fa-remove"></i></div></td>
                        </tr>
                        <!-- END BLOCK_SOLUTESTE -->
                    </tbody>
                </table>               
                <div>                    
                    <a id="btnaddteste" class="ink-button pull-right smaller" value="{QTDTESTES}" href="javascript:void(0);"><i class="fa fa-plus"></i> Adicionar teste</a>
                </div>
            
            </div>
            </div>
        </div>
    </div>      

    <div class="control-group">
        <label class="labeltitulo2 fw-bold" for="text-input">Solução <small class="fw-300" > Linguagem natural</small></label> 
        <div class="control">            
            <textarea id="mytextarea2" name="mytextarea2" style="width:100%; resize: vertical;">{EDITSOLUCAO}</textarea>
        </div>        
    </div>

    <div class="control-group">
        <label class="labeltitulo2 fw-bold" for="text-input">Codificação <small class="fw-300" > Haskell</small></label> 
        <div class="control slab-100 monospace boxcodigohaskell">            
            <textarea class="slab-100 monospace" id="codigohaskell" name="codigohaskell">{EDITCODIGOHASKELL}</textarea>
        </div>
        <div class="control" style="" >
            Função principal: 
            <input class="" id="funcaoprincipal" name="funcaoprincipal" type="text" placeholder="Ex: soma" style="padding: 1px; margin: 0; width: 220px;" value="{EDITFUNCAOPRINCIPAL}">            
            <span class="ink-tooltip ink-badge blue fw-bold" style="padding: 4px 6px 6px 6px; line-height:1; margin: 0px 0 0 0"
                  data-tip-html="<b>Função principal</b><br>Indique o nome da função principal que será chamada no teste automático.<br> Os testes executados serão os do <b>Planejamento de Testes</b>">
                ?
            </span>
        </div>
        <div class="control align-center" style="margin-top: 20px" >
            <a id="btnaddteste" class="ink-button blue push-center" value="2" tabindex="0"  href="javascript:void(0);" onclick="realizarTestes();" ><i class="fa fa-terminal"></i> Realizar testes planejados </a>            
        </div>
    </div>    
    
    
    <label class="labeltitulo2 fw-bold" for="text-input">Resultado dos testes <small class="fw-300" ></small></label>
    <div class="retornofinal">
        <br><br>
        <!---
        <div class="all-100 align-center" style="height: 80px;">
            <h1 style="color: #ccc;">
                <i class="fa fa-cog fa-spin"></i>
            </h1>
            <a id='btnstopteste' class='ink-button basic' value='3' tabindex='0'  href='javascript:void(0);' onclick='pararTestes();' ><i class='fa fa-stop'></i> Interromper</a>
        </div>
        --->
    </div>
    
    
               
    
    <div class="formcontrole">
        <!---<button type="submit" class="ink-button green pull-right" name="" id="btnenviarsolucao" value="enviarsolucao">Salvar</button>--->
        <a class="ink-button" href="{LINK_CANCELAR}"> Voltar</a>
        <!---<a id="btnsocializar" class="ink-button orange" value="2" tabindex="0"  href="javascript:void(0);" onclick="socializarSolucao();" ><i class="fa fa-share-alt"></i> Socializar</a>--->
        <div class="push-right">            
            <select id="solucaoestado" name="solucaoestado" >
                <option value="incompleto">Solução Incompleta</option>
                  <option value="completo">Solução Completa</option>
            </select>
            <a id="btnsalvarsolucao" class="ink-button green " value="2" tabindex="0"  href="javascript:void(0);" onclick="salvarSolucao();" ><i class="fa fa-save"></i> Salvar</a>
        </div>
    </div>

</form>
