<h2 class="fw-400">{FORMTITULO}</h2>

<form name="formnovaelista" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
    <div class="tiny-100 small-100 medium-100 large-100 xlarge-70 vertical-nospace">
        <input name="formlista" type="hidden" value="502">
        <input name="idsocializar" type="hidden" value="{SOCIALIZARID}">
        <input name="idlista" type="hidden" value="{LISTAID}">

        <div class="control-group bgbranco" style="border-left: 3px solid #f50; padding: 0 5px 5px 15px">
            <label class="labeltitulo fw-bold" for="text-input">Título</label> 
            <div class="control">
                <input name="titulo" id="titulo" type="text" placeholder="Título da Arquitetura Pedagógica" value="{LISTATITULO}">
            </div>
        </div>
        
        <div class="control-group bgbranco" style="border-left: 3px solid #f50; padding: 0 0 5px 15px">
            
            <div class="control">           
                <label class="labeltitulo fw-bold" for="text-input">Objetivo da aprendizagem <small></small></label> 
                <textarea id="mytextarea1" name="mytextarea1" style="width:100%; resize: vertical;">{TXTOBJETIVO}</textarea>
            </div>                    
            
            <div class=" column-group" >
                <label class="all-100 labeltitulo fw-bold" data-close-on-click="false">Base de atividades</label> 
                
                <div id="contagemexercicios"> Nenhuma atividade selecionada </div>
<!---                        <i class="fa fa-database"></i> Base de Exercícios--->
                <div class="boxbaseexer" id="baseexer" style="height: 180px;" >
                    <ul class="unstyled" style="margin: 0 0 0 15px;">
                        <!-- BEGIN BLOCK_LIEXERCICIO -->
                        <li id="{BASEEXERID}" class="all-45 pull-left liexer">
                        <label>                            
                            <div class="pull-left hide-all">
                                <input id="exercheck{BASEEXERID}" class="inputsexerbase" type="checkbox" {BASEEXERCHECK} name="exercheck{BASEEXERID}" value="{BASEEXERID}" onclick="realizaContagem({BASEEXERID})"/>
                            </div>
                            <div class="pull-left liexertit" style="padding: 2px 5px">
                                 {BASEEXERNOME}
                            </div>
                            <a class="push-right" href="#"><i class="fa fa-search"></i> &nbsp;</a>
                        </label>
                        </li>

                        <!-- END BLOCK_LIEXERCICIO -->
                    </ul>
                </div>
                
            </div>
            
            <div class="control">
                <label class="labeltitulo fw-bold" for="text-input">Método<small></small></label> 
                <textarea id="mytextarea2" name="mytextarea2" style="width:100%; resize: vertical;">{TXTMETODO}</textarea>
            </div>            
            
            
        </div>
                
        
        <div class="control-group bgbranco" style="border-left: 3px solid #f50; padding: 0 0 5px 15px;">
            <label class="labeltitulo fw-bold" for="text-input"> Recursos Digitais</label>
            <small> &nbsp;Selecione e configure os recursos digitais para cada atividade</small>
            <div id="msgrecursos">
                Selecione uma Atividade...
            </div>
          
            
            <div class="control-group">                
                
                <!-- BEGIN BLOCK_EXERCICIOENUM -->
                <div class="all-100 boxborder" id="exerrecurso{BASEEXERID}">
                    <div class="all-100 boxborderbody control-group gutters "" style="line-height: 1">
                        <br>
                        <h4 style="margin-bottom: 0">{BASEEXERNOME}</h4>
                        <br>
                        
                        <div class="control all-50 push-left listarecursos"  id="exerrecurso{BASEEXERID}" style="padding-right: 15px;" >
                            <div class="control" style="border-bottom: 1px solid #CCC; border-top: 1px solid transparent; margin: 0 0px 15px 0; padding: 3px 0px">                                
                                <h5 class="fw-400 push-left" style="margin: 5px 0 0 0; color:#1E5B98">Recursos digitais: </h5>
                                <div class="ink-dropdown push-right" data-target="#menurecursos{BASEEXERID}">
                                    <button class="ink-button small" style="padding: 4px 3px">Adicionar um recurso <i class="fa fa-arrow-down"></i></button>
                                    
                                    
                                    <ul id="menurecursos{BASEEXERID}" class="dropdown-menu push-center">
                                        <li><a href="javascript:maisConstrutor({BASEEXERID})">Construtor de Soluções</a></li>
                                        <li><a href="javascript:maisConstrutorColab({BASEEXERID})">Construtor de Soluções Colaborativo</a></li>                                        
                                        <li><a href="javascript:maisMural({BASEEXERID})">Mural de Soluções</a></li>
                                    </ul>
                                </div>
                            </div>  
                            <div class="control boxazul rconstrutor">
                                <a href="javascript:removeConstrutor()" class="push-right small"> Remover </a>
                                <label class="labeltitulo3 fw-bold" data-target="#construt" data-close-on-click="false"><input class="inptradio hide-all" type="checkbox" name="usarconstrutor" id="usarconstrutor" {CKCONSTRUTOR}>&nbsp;Construtor de Soluções <small>(Individual)</small></label>

                                <div class="column-group gutters all-100 boxformsocial" id="construt">
    <!--                                <div class="all-100" style="margin: 10px 0 0 0">
                                        <ul class="control unstyled" style="margin: 0">
                                            <li class="soclirad"><label><input class="inptradio" type="checkbox" name="usarconstrutor" id="usarconstrutor" {CKCONSTRUTOR}/> Usar Construtor de Soluções</label></li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>  


                            <div class="control boxazul rconstrutorcolab">
                                <a href="javascript:removeConstrutorColab()" class="push-right small"> Remover </a>
                                <label class="labeltitulo3 fw-bold" data-target="#construt" data-close-on-click="false"><input class="inptradio hide-all" type="checkbox" name="usarconstrutor" id="usarconstrutor" {CKCONSTRUTOR}>&nbsp;Construtor de Soluções Colaborativo </label><br><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{LINKFORMARDUPLAS}" class="">Formar duplas</a><br>

                                <div class="column-group gutters all-100 boxformsocial" id="construt">
    <!--                                <div class="all-100" style="margin: 10px 0 0 0">
                                        <ul class="control unstyled" style="margin: 0">
                                            <li class="soclirad"><label><input class="inptradio" type="checkbox" name="usarconstrutor" id="usarconstrutor" {CKCONSTRUTOR}/> Usar Construtor de Soluções</label></li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>                          


                            <!---&nbsp;&nbsp;<a class="ink-toggle small" data-target="#socializ">Configurar</a>--->

                            <div class="column all-100 boxformsocial boxazul rmural" id="mural1">
                                <a href="javascript:removeMural()" class="push-right small"> Remover </a>
                                <label class="labeltitulo3 fw-bold" data-close-on-click="false" ><input class="inptradio hide-all" type="checkbox" name="usarmural" id="usarmural" {CKCONSTRUTOR}>&nbsp;Mural de Soluções</label> &nbsp;&nbsp;<a href="javascript:configMural({BASEEXERID});" class="small">Configurar</a><br><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="">Indicar soluções</a><br>
                                <div class="" id="configmural{BASEEXERID}" style="display: none">                                
                                    <div class="all-100" style="margin-bottom: 0">
                                            <Br>
                                        <ul class="control unstyled" style="margin: 0">
                                            <li class="soclitit"><i class="fa fa-share-alt"></i> Socializar soluções:</li>
                                            <li class="soclirad"><label><input class="inptradio" type="radio" name="socializar" id="socializar" value="0" {S0CK}/> Não Socializar.</label></li>
                                            <li class="soclirad"><label><input disabled class="inptradio" type="radio" name="publicacao" value="1" {PU1CK}/> Socializar em:
                                                   <input type="text" class="ink-datepicker" id="publicacaodata" name="publicacaodata" value="{DATAPUBLICACAO}" data-format="d-m-Y" {INKSTARTDATAPU} style="width: 100px; text-align: center; padding: 0"/>
                                                    às <input type="text" class="align-center"   id="publicacaohora" name="publicacaohora" value="{HORAPUBLICACAO}" style="padding: 1px; width: 70px;"><small> (HH:mm)</small>                    
                                                   </label>
                                            </li>                               
                                            <li class="soclirad"><label><input class="inptradio" type="radio" name="socializar" id="socializar" value="1" {S1CK}/> Socializar Imediatamente</label></li>
                                        </ul>
                                    </div>
                                    <div class="all-100" style="margin-bottom: 0">
                                        <ul class="control unstyled">
                                            <li class="soclitit"><i class="fa fa-user"></i> Permissão</li>
                                            <li class="soclirad"><label><input class="inptradio" type="radio" name="socipara" value="0" {P0CK}/> Todos.</label></li>
                                            <li class="soclirad"><label><input class="inptradio" type="radio" name="socipara" value="1" {P1CK}/> Somente para os que enviaram uma solução.</label></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>     
                       
                            
                            
                        </div>
                        <div class="control all-50 small push-left" style="border-left: 1px solid #DDD; padding-left: 15px; height: 200px; overflow: hidden;">                            
                            {BASEEXERENUNCIADO}                            
                        </div>
                    </div>
                </div>       
                <!-- END BLOCK_EXERCICIOENUM -->
                
            </div>  
            
            
                <script>realizaContagemA()</script>
            
        </div>          
        
        
        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Publicar esta AP</label>
            <div class="control">
                <label><input class="inptradio" type="radio" name="publicacao" value="0" {PU0CK}/> Imediatamente <small> (<i class="fa fa-eye"></i> Público)</small></label><br>
                <label><input disabled class="inptradio" type="radio" name="publicacao" value="1" {PU1CK}/> Em:
                       <input type="text" class="ink-datepicker" id="publicacaodata" name="publicacaodata" value="{DATAPUBLICACAO}" data-format="d-m-Y" {INKSTARTDATAPU} style="width: 100px; text-align: center; padding: 0"/>
                    às <input type="text" class="align-center"   id="publicacaohora" name="publicacaohora" value="{HORAPUBLICACAO}" style="padding: 1px; width: 70px;"><small> (HH:mm)</small>                    
                </label><br>
                <label><input class="inptradio" type="radio" name="publicacao" value="2" {PU2CK}/> Não publicar <small> (<i class="fa fa-eye-slash"></i> Oculto)</small></label><br>
            </div>            
        </div>
 
    </div>
    <div class="tiny-100 small-100 medium-30 large-30 xlarge-30">

    </div>    

    <div class="formcontrole all-100">
        <button type="submit" class="ink-button green" name="" id="btnsalvarexercicio" value="salvarexercicio">Salvar AP</button>
        <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
    </div>

</form>