
<div class="">    
        
        
    <div class="boxborder" style="margin-top: 15px" id="{EXERID}">       
        <div class="boxborderhead" style="padding: 12px 12px 8px 12px;">            
            <a class="push-right ink-button blue small" href="#">Concluir</a>
            <h4 class="">Formar duplas</h4>
            <small>{EXERTITULO}</small>
            
        </div>
        <div class="boxborderbody">        
    
            <div class="ink-tabs top" data-prevent-url-change="true">
                <!-- If you're using 'bottom' positioning, put this div AFTER the content. -->
<!--                <ul class="tabs-nav " style="margin: 10px 0 0 0">
                    <li><a class="tabs-tab" href="#aba1">Sugerido</a></li>
                    <li><a class="tabs-tab" href="#aba2">Manualmente</a></li>
                </ul>-->

                <!-- Now just place your content -->
                <div id="aba2" class="tabs-content hide-all" style="margin: 5px 0 0 0; padding: 10px">
                    <h1 class="fw-300">Home</h1>
                    <p>
                        A home is a dwelling-place used as a permanent or semi-permanent residence for an individual, family, household or several families in a tribe. It is often a house, apartment, or other building, or alternatively a mobile home, houseboat, yurt or any other portable shelter. Larger groups may live in a nursing home, children's home, convent or any similar institution. A homestead also includes agricultural land and facilities for domesticated animals. Where more secure dwellings are not available, people may live in the informal and sometimes illegal shacks found in slums and shanty towns. More generally, "home" may be considered to be a geographic area, such as a town, village, suburb, city, or country
                    </p>
                </div>
                <div id="aba1" class="tabs-content" style="margin: 5px 0 0 0; padding: 10px">
                    <div class="column-group horizontal-gutters">
                        <div class="all-45">
                                <div class="" style="border-bottom: 2px solid #BBB; padding: 6px 20px">
                                     <span class="fw-500 large">Alunos</span>
                                </div>
                            <div class="column-group horizontal-gutters">
                                <div class="all-45 pull-left" style="">
                                    <div class="fw-300">
                                        <table class="ink-table">                                            
                                        <!-- BEGIN LINHAALUNO -->
                                        <tr><td><label onclick="mostraTab({ALUNO1ID});">&nbsp;&nbsp;<input type="radio" name="al1">&nbsp;{ALUNO1NOME}</label></td></tr>
                                        <!-- END LINHAALUNO -->                                    
                                        </table>

                                    </div>
                                </div>
                                <!-- BEGIN BLOCOALUNO2 -->
                                <div class="all-50 pull-left closetabaluno1" id="tabaluno1{TABALUNO1ID}" style="display: none" >
                                    <table class="ink-table">                                            
                                        <!-- BEGIN LINHAALUNO2 -->
                                        <tr><td><label>&nbsp;&nbsp;<input type="radio" name="al2{TABALUNO1ID}">&nbsp;{ALUNO2NOME}</label></td></tr>
                                        <!-- END LINHAALUNO2 -->
                                    </table>                                    
                                </div>
                                <!-- END BLOCOALUNO2 -->
                                
                            </div>
                        </div>
                        <div class="all-10" style="text-align: center; padding-top: 40px">
                            <a class="ink-button" href="#"><br><br><br>&gt;<br><br><br></a>
                        </div>
                        <div class="all-45">
                            <div class="" style="border-bottom: 2px solid #BBB; padding: 6px 7px;">
                                <span class="fw-500 large">Duplas formadas</span>
                            </div>
                            <div class="all-100" >
                                <table class="ink-table">                                            
                                    <tr><td><label>Aprendiz 06  e  Aprendiz 07  (9.13%) &nbsp;&nbsp;<a href="#" class="small">Desfazer</a></label></td></tr>
                                    <tr><td><label>Aprendiz 03  e  Aprendiz 05  (20.27%)&nbsp;&nbsp;<a href="#" class="small">Desfazer</a></label></td></tr>
                                </table>                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            
            
        </div>    
    </div>        
    
    
    
    
    
        
    
    <div class="boxborder" style="margin-top: 15px" >
        <div class="boxborderhead">
            <h4 class="fw-700" >Quadros de comparações</h4>
        </div>
        <div class="column-group boxborderbody" style="margin: 5px 0 0 0; padding: 15px;">    
            
                <div class="control-group">
                    <div class="all-35 pull-left" style="text-align: center; padding: 0 20px 0 0">
                        {RESULTADO2}
                    </div>
                    <div class="all-65 pull-left" style="">
                        {RESULTADO}    
                    </div>
                </div>
            

        </div>
    </div>
        
    
<!---    <a href="#" id="myModalTrigger1" class="ink-button">Open example modal</a>    --->
<div class="ink-shade fade">
    <div id="myModal" class="ink-modal fade" data-trigger="#myModalTrigger1" data-width="90%" data-height="90%" role="dialog" aria-hidden="true" aria-labelled-by="modal-title">
        <div class="modal-header" style="padding: 5px;margin: 0">
            <button class="modal-close ink-dismiss"></button>
            <h3 style="padding: 0;margin: 0" id="modal-title">Soluções comparadas</h3>
        </div>
        <div class="modal-body" id="modalContent">
            <div class="column-group all-50 pull-left">
                <h5>Aprendiz 01</h5>
                    
                <div class="monospace" style="font-size: 12px; overflow: hidden">
                <pre>
baralhopp = [(x,y) | x<-[1..4], y<-[1..13], even x,even y]
baralhoii = [(x,y) | x<-[1..4], y<-[1..13], odd x,odd y]
baralhoip = [(x,y) | x<-[1..4], y<-[1..13], odd x,even y]
baralhopi = [(x,y) | x<-[1..4], y<-[1..13], even x,odd y] 

jog1 = take 9 baralhopi 
jog2 = take 9 baralhoip

baralhodois = [jog1,jog2,drop 9 baralhopi ++ 
               drop 9 baralhoip ++ baralhopp ++ baralhoii]              
                </pre>
                </div>

            </div>
            
            <div class="column-group all-50 push-left">
                <h5>Aprendiz 04</h5>
                
                <div class="monospace" style="font-size: 12px; overflow: hidden; overflow-wrap: break-word;">
                <pre>
jog1 b = [b!!i | i <- [0 .. 17], even i || i == 0]
jog2 b = [b!!i | i <- [0 .. 17], odd i]

remove [] _ = []
remove b 0 = b
remove b qtd = remove (tail b) (qtd - 1)

distribui b = (jog1 b, jog2 b, remove b 18)  
            
                </pre>
                </div>
            </div>
            <div class="column-group all-100 push-left">
                <Br>
                Resultado da comparação: 36.51%
            </div>
        </div>

    </div>
</div>

    
    
    
    
</div>

