<h2 class="fw-400">{TITULOFORMEXER}</h2>

<form name="formexercicio" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
    <div class="tiny-100 small-100 medium-70 large-70 xlarge-70 vertical-nospace">
        <input name="formexercicio" type="hidden" value="500">
        <input name="idexercicio" type="hidden" value="{EXERID}">

        <div class="control-group boxconfig">
            <h2 class="labeltitulo fw-bold" >Título</h2> 
            <div class="control">
                <input name="exertitulo" id="exertitulo" type="text" placeholder="" value="{EXERTITULO}">
            </div>            
        </div>
        <div class="control-group boxconfig">
            <h2 class="labeltitulo fw-bold">Atividade</h2> 
            <div class="control">            
                <textarea id="mytextarea1" name="mytextarea1" style=" resize: vertical; height: 50px;">{EXERENUNCIADO}</textarea>
            </div>        
        </div>
        
        <div class="control-group boxconfig">
            <div class="all-100 ">        
                <h2 class="labeltitulo fw-bold">Plano de Teste <small class="fw-300" ></small></h2>
                <div class="all-100 ">                    
                    <div class="control">
                        <h5 class="fw-700" style="margin-bottom: 10px;">Interface</h5>
                        <div class="column-group gutters">
                            <div class="control-group all-100" style="margin-bottom: 0;">
                                <!---<label for="name">Interface para a função principal</label>--->
                                <div class="control">
                                    <!---<textarea name="interface" id="interface" class="textareacodigo">{EXERINTERFACE}</textarea>--->
                                    <span class="monospace small">
                                        --Interface com o Usuário
                                    </span>
                                    
                                    <input  type="text" name="interface" id="interface" class="textareacodigo" value="{EXERINTERFACE}">
                                    
                                    <script>
                                        $jQ(".textareacodigo").keyup(function(){alterarEntradas()});
                                    </script>
                                </div>
                                <p class="tip" style="line-height: 1;"><i class="fa fa-code "></i> Esta interface aparecerá para aluno.</p>
                                <p class="tip" style="margin-bottom: 12px;"><i class="fa fa-exclamation-circle"></i> O mais importante é a <b>ordem</b> dos <b>parâmetros</b>, defina-os no enunciado (<b>tipo</b> e descrição).</p>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        <h5 class="fw-700">Plano de teste do professor </h5>
                        <table class="ink-table alternating tabletestes" style="margin-bottom: 5px">
                            <thead>
                                <tr>
                                    <th class="align-left">Descrição</th>
                                    <th class="align-left ">Entrada</th>
                                    <th class="align-left">Saída Esperada</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="bodyteste">
                                <!-- BEGIN BLOCK_EXERTESTE -->
                                <tr id="trteste{TESTECONT}">
                                    <td><input class="inputapp inputsteste" name="descricao{TESTECONT}" type="text" placeholder="" value="{TESTEDESCRICAO}"></td>
                                    <td><input class="inputapp inputsteste" name="entrada{TESTECONT}" type="text" placeholder="" value="{TESTEENTRADA}"></td>
                                    <td><input class="inputapp inputsteste" name="saidaes{TESTECONT}" type="text" placeholder="" value="{TESTESAIDAES}"></td>
                                    <td style="padding: 0 4px 0 0"><div class="btnexcluiteste ink-button red pull-right smaller" title="Excluir este teste" style="float: right" value="{TESTEID}" onclick="return excluirBdTesteLinha({TESTEID},{TESTECONT})"><i class="fa fa-remove"></i></div></td>
                                </tr>
                                <!-- END BLOCK_EXERTESTE -->
                            </tbody>
                        </table>               
                        <div class="align-center">                                                        
                            <a id="btnaddteste" class="ink-button pull-left smaller" value="{TESTEQTD}" href="javascript:void(0);" style="margin: 5px 0 10px 5px"><i class="fa fa-plus"></i> Adicionar um teste </a>
                        </div>                        
                        <div class="" style="clear: both; padding: 15px 0 0 10px">
                            <input type="checkbox" id="mostraplano" name="mostraplano" value="1" {MOSTRAPLANOCHECK} ><label for="mostraplano" style="line-height:16px;">Mostrar este plano de teste para o aluno. <br><small></small></label>
                        </div>                        
                    </div>
                    <div class="control">
                        <h5 class="fw-700" style="margin: 10px 0;">Validação de teste</h5>
                        <div class="column-group gutters">
                            <div class="control-group all-100" style="margin-bottom: 0;">
                                <!---<label for="name">Interface para a função principal</label>--->
                                <div class="control">
                                    <span class="small monospace" style="">validar <span id="spanpentradas" style="text-decoration: underline" title="Parâmetros de entrada definido na interface"></span> saidaesperada resultadoobtido =</span>
                                    <textarea name="validarteste" id="validarteste" class="textareacodigo">{EXERVALTESTE}</textarea>
                                    <!--<textarea class="slab-100 monospace" id="codigohaskell" name="codigohaskell"> saidaesperada == resultadoobtido  </textarea>-->
                                    <input class="pentrada" id="pentrada" name="pentrada" type="hidden" value="">
                                </div>
                                <p class="tip" style="line-height: 1;"><i class="fa fa-code "></i>Padrão: saidaesperada == resultadoobtido</p>
                            </div>
                          <script>alterarEntradas();</script>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>  
     
        <div class="control-group hide-all boxconfig2">
            <h2 class="labeltitulo fw-bold">Modelo da Solução <small class="fw-300"> (Solução enviada pelo aluno)</small></h2> 
            <div class="control" style="clear: both; padding: 0 0 0 10px">            
                <ul class="unstyled" style=" margin: 0;">
                    <li>
                        <input type="radio" id="radiomce" name="tiposolucao" {TIPOMCP} value="mcp"><label for="radiomce" style="line-height:16px;">MCP<br><small>(Metodologia para Construção de um Programa)</small></label>
                    </li>
                    <li>
                        <input type="radio" id="radiotexto" name="tiposolucao" {TIPOTEXTO}  value="texto"><label for="radiotexto" style="line-height:16px;">Texto<br><small>(Um texto como resposta)</small></label>
                    </li>

                </ul>
            </div>
        </div>    
    </div>    
    
    <div class="tiny-100 small-100 medium-30 large-30 xlarge-30 vertical-nospace">
        
        <div class="control-group boxconfig">
            <h2 class="labeltitulo fw-bold">Outras Opções<small class="fw-300"></small></h2> 
            <div class="control" style="clear: both; padding: 0 0 0 10px">            
                <ul class="unstyled " style=" margin: 8px 0 0 0;">
                    <li class="vertical-nospace fw-700">
                        Nível de Dificuldade
                    </li>
                    <li>
                        <input type="radio" id="1" name="nivel" value="facil" checked="checked"><label for="1" style="line-height:16px;">1<small>(fácil)</small></label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="2" name="nivel" value="medio"><label for="2" style="line-height:16px;">2<small>(médio)</small></label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" id="3" name="nivel" value="dificil"><label for="3" style="line-height:16px;">3<small>(difícil)</small></label>
                    </li>

                </ul>
                <ul class="unstyled " style=" margin: 20px 0 0 0;">
                    <li class="vertical-nospace fw-700">
                        <i class="fa fa-tags"></i>Etiquetas<small class="fw-300"></small>
                    </li>
                    <li>
                        <textarea class="all-100 small textareacodigo" name="etiquetas" id="etiquetas">#tags #listas #recursão</textarea>
                        <p class="tip" style="line-height: 1;"><b>#tags</b> - Insira tags para categorizar esta atividade</p>
                    </li>

                </ul>
            </div>
        </div>    
    </div>    

    <div class="formcontrole all-100">
        <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
        <button type="submit" class="ink-button green" name="" id="btnsalvarexercicio" value="salvarexercicio">Salvar Atividade</button>
    </div>

</form>
