<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo exercício foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<h2 class="fw-400">Exercícios</h2>


    
    <!-- BEGIN BLOCK_EXERCICIO -->
            
    <ul class="unstyled">
        <li>
            <a href="{LINK_EXERCICIOID}" id="{EXERID}">{EXERTITULO}</a>
        </li>        
    </ul>
                
    <!-- END BLOCK_EXERCICIO -->
    



