<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> A nova Lista de Exercícios foi salva</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<!-- BEGIN BLOCK_NAOENCONTRADO -->
    <div class="ink-alert basic error" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>:(</b> Não encontrei esta Lista de Exercícios.</p>
    </div>    
<!-- END BLOCK_NAOENCONTRADO -->

<h2 class="fw-400 push-left">{LISTATITULO}</h2>

        <div class="pull-right">
            <!-- BEGIN BLOCK_ACOMPANHARLISTA -->
            <a href="{LINKRELATORIOLISTA}" class="ink-button small"><i class="fa fa-list"></i> Acompanhar esta lista</a>
            <!-- END BLOCK_ACOMPANHARLISTA -->
        </div>

    <div style="clear:both;"></div>

    <div class="boxlistaexer column-group" style="margin: 0 0 15px 0;">
        <div class="all-100" style="border-bottom: 1px solid #fcfcfc; padding: 10px 0;">
        {LISTATEXTO}
        </div>        
        <div class="all-100" style="padding: 10px 0;">
        {LISTATEXTO2}
        </div>
    </div>
    
    <!-- BEGIN BLOCK_EXERCICIO -->
    <div class="boxlistaexer column-group">
        <div class="all-70 boxexercicio">
            <div id="{EXERID}" class="exerenunciado">
                <h3 style="margin-bottom: 20px">{EXERTITULOALIAS}</h3>
                {EXERENUNCIADO}
            </div>
        </div>
        <div class="all-30 boxsolucaominhas">
            <i class="fa fa-file-text-o"></i><span class="fw-700"> Minhas soluções</span>
            
            <!-- BEGIN BLOCK_MINHASSOLUCOES -->
            <div class="boxlinksolucoes">
                <ul class="unstyled fw-thin">
                    
                    <li class="tit">Completas:</li>                    
                    <!-- BEGIN BLOCK_SOLUCAOCOMPLETA -->
                    <li style="font-size: 80%; clear:both;" class="lisolucao {CLASSSOCIALIZACAO}" value="{SOCIALIZACAO}" id="{IDSOLUCAO}">
                        {EXERSOLUCAOTIT}
                        <a href="{LINK_MOSTRASOLUCAO}" title="Ver"><i class="fa fa-external-link"></i></a>
                        <a class="basic pull-right" title="Apagar" href="javascript:void(0)" onclick="return deletarSolucao({IDSOLUCAO})"><i class="fa fa-trash"></i> Apagar</a>
                        <!--- <a class="basic" title="Socializar" href="javascript:void(0)" onclick="return socializarSolucao({IDSOLUCAO})" ><i class="fa fa-share-alt"></i></a> --->
                    </li>
                    <!-- END BLOCK_SOLUCAOCOMPLETA -->
                    <li>Sem solução completa...</li>                    
                    <!-- FINALLY BLOCK_SOLUCAOCOMPLETA -->
                    
                    <li class="tit">Incompletas:</li>
                    
                    <!-- BEGIN BLOCK_SOLUCAOINCOMPLETA -->
                    <li style="font-size: 80%;" class="lisolucao" id="{IDSOLUCAO}">
                        {EXERSOLUCAOTIT}
                        <a class="basic pull-right" title="Apagar" href="javascript:void(0)" onclick="return deletarSolucao({IDSOLUCAO})"><i class="fa fa-trash"></i> Apagar</a>
                        <a class="basic pull-right" title="Editar" href="{LINK_EDITSOLUCAO}" ><i class="fa fa-edit"></i> Editar</a>
                    </li>
                    <!-- END BLOCK_SOLUCAOINCOMPLETA -->                                        
                    <li >Sem solução incompleta...</li>
                    <!-- FINALLY BLOCK_SOLUCAOINCOMPLETA -->                    
                    
                </ul>
            </div>
            <!-- END BLOCK_MINHASSOLUCOES -->
            <div class="fw-300 align-center">
                Ainda não foi construída uma solução, clique no link abaixo para construir uma nova solução:
            </div>
            <!-- FINALLY BLOCK_MINHASSOLUCOES -->
            <div class="all-100 align-center" style="margin-top: 20px; padding-top: 20px; border-top: 1px dotted #ddd">
                <!-- BEGIN BLOCK_USARCONSTRUTOR -->
                <a class="ink-button blue" href="{LINK_ENVIARSOLUCAO}"><i class="fa fa-file-text-o"></i> Construtor de Solução</a>
                <!-- END BLOCK_USARCONSTRUTOR -->
            </div>
            <div class="all-100 align-center" style="margin-top: 20px;">
                <!-- BEGIN BLOCK_SOCIALIZAR -->
                <a class="ink-button orange " style='margin-right: 5px;' href="{LINK_SOCIALIZACAO}"><i class="fa fa-share-alt"></i> Mural de Soluções</a>{TOTALSOCIALIZACOES}
                <!-- END BLOCK_SOCIALIZAR -->
            </div>            
            <div class="all-100 align-center" style="margin-top: 20px;">
                <!-- BEGIN BLOCK_ACOMPANHAR -->
                <a class="ink-button default smaller" style='margin-right: 5px;' href="{LINK_RELATORIOEXER}"><i class="fa fa-list"></i> Acompanhar esta atividade</a>
                <!-- END BLOCK_ACOMPANHAR -->
            </div>            
        </div>
    </div>
    <br>

    <!-- END BLOCK_EXERCICIO -->
                
    


