<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo exercício foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<!-- BEGIN BLOCK_NAOENCONTRADO -->
    <div class="ink-alert basic error" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>:(</b> Não encontrei este Projeto.</p>
    </div>    
<!-- END BLOCK_NAOENCONTRADO -->

<h2 class="fw-400">Solução do Projeto</h2>

<div class="">
    
    <div class="boxlistaexer" id="{PROJETOID}">
        <div class="exerenunciado">        
            <h4 class="">{PROJETOTITULO}</h4>
            <p>{PROJETOENUNCIADO}</p>
        </div>    
    </div>  
    
    <h3 class="fw-500" style="color:#1E5B98;">Solução</h3>
        
    <div class="column-group boxsolucao" id="{USERSOLUCAOID}">
        <div class="tiny-100 small-100 medium-100 large-60 xlarge-60 boxsrel">
            <div class="column-group">
                <span class="fw-500 all-100"><i class="fa fa-user"></i> {USERSOLUCAONOME}</span>
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Compreensão do problema:</span>
                    {USERCOMPREENSAO}
                </div>
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Planejamento de teste:</span>
                    <!-- BEGIN BLOCK_BOXTESTES -->    
                    <table class="ink-table alternating" style="border-bottom: 1px solid #AAA; margin-bottom: 5px">
                        <thead>
                            <tr>
                                <th class="align-left all-50">Descrição</th>
                                <th class="align-left all-30">Entrada</th>
                                <th class="align-left all-20">Saída Esperada</th>
                            </tr>
                        </thead>
                        <tbody id="bodyteste">
                            <!-- BEGIN BLOCK_TESTES -->                                            
                            <tr>
                                <td>{TESTEDESCRICAO}</td>
                                <td>{TESTEENTRADA}</td>
                                <td>{TESTESAIDAES}</td>
                            </tr>
                            <!-- END BLOCK_TESTES --> 
                        </tbody>
                    </table>                     
                    <!-- END BLOCK_BOXTESTES -->
                    
                    
                </div>
                <div class="asolucao all-100 solucaotexto">                    
                    <span class="fw-bold" style="color: #1E5B98">Descrição da Solução</span>
                    {USERSOLUCAOTEXTO}
                </div>   
                <div class="asolucao all-100 solucaotexto monospace">                    
                    <span class="fw-bold" style="color: #1E5B98">--Codificação Haskell: <br></span>
                    {USERCODIGOHASKELL}
                </div>             
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Resultado dos testes</span>
                    {USERSOLUCAORESULT}
                </div>
            </div>
        </div>
        <div class="tiny-100 small-100 medium-100 large-40 xlarge-40 boxcoments">
            <div class="column-group boxallcomentarios">
                <span class="fw-500 all-100" id="resultcoment{USERSOLUCAOID}"><i class="fa fa-comments-o"></i> Comentários</span>
                <!-- BEGIN BLOCK_COMENTARIO -->                
                    <div class="boxcomentario ink-form column-group all-100">
                        <div class="fw-400 all-100 nome">
                            {COMENTARIOUSER}:
                        </div>
                        <div class="fw-300 all-100 comentario">
                            {COMENTARIO}
                        </div>
                    </div>
                <!-- END BLOCK_COMENTARIO -->                 
                <div class="inserircomentario ink-form all-100">                    
                    <div class="fw-500  imgusercoment" title="{USERLOGADONOME}"><i class="fa fa-user"></i></div>                        
                    <div class="divtextarea">
                        <textarea class="textareacoment" id="comentario{USERSOLUCAOID}" name="comentario" placeholder="Escreva um comentário..."></textarea>
                    </div>                    
                    <a href="javascript:void(0)" onclick="return enviarComentario({USERSOLUCAOID})" class="ink-button smaller " ><i class="fa fa-send-o"></i> Enviar Comentário</a>
                </div>
                
            </div>
        </div>
    </div>     
    
</div>               
    
