<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo exercício foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<!-- BEGIN BLOCK_NAOENCONTRADO -->
    <div class="ink-alert basic error" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>:(</b> Não encontrei este exercício.</p>
    </div>    
<!-- END BLOCK_NAOENCONTRADO -->

<h2 class="fw-400">Solução de exercício</h2>

<div class="">
    
    <div class="boxlistaexer" id="{EXERID}">
        <div class="exerenunciado">        
            <h4 class="">{EXERTITULO}</h4>
            <p>{EXERENUNCIADO}</p>
        </div>    
    </div>  
    
    <h3 class="fw-500" style="color:#1E5B98; margin: 15px 0">Solução</h3>
        
    <div class="column-group boxsolucao" id="{USERSOLUCAOID}">
        <div class="tiny-100 small-100 medium-100 large-60 xlarge-60 boxsrel">
            <div class="column-group">
                <span class="fw-500 all-100"><i class="fa fa-user"></i> {USERSOLUCAONOME}</span>
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Compreensão do problema:</span>
                    {USERCOMPREENSAO}
                </div>
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Planejamento de teste:</span>
                    <!-- BEGIN BLOCK_BOXTESTES -->    
                    <table class="ink-table alternating bordered small" style="border-bottom: 1px solid #AAA; margin-bottom: 5px">
                        <thead>
                            <tr>
                                <th class="align-left all-33">Descrição</th>
                                <th class="align-left all-33">Entrada</th>
                                <th class="align-left all-33">Saída Esperada</th>
                            </tr>
                        </thead>
                        <tbody id="bodyteste">
                            <!-- BEGIN BLOCK_TESTES -->                                            
                            <tr>
                                <td>{TESTEDESCRICAO}</td>
                                <td>{TESTEENTRADA}</td>
                                <td>{TESTESAIDAES}</td>
                            </tr>
                            <!-- END BLOCK_TESTES --> 
                        </tbody>
                    </table>                     
                    <!-- END BLOCK_BOXTESTES -->
                    
                    
                </div>
                <div class="asolucao all-100 solucaotexto">                    
                    <span class="fw-bold" style="color: #1E5B98">Descrição da Solução</span>
                    {USERSOLUCAOTEXTO}
                </div>   
                <div class="asolucao all-100 solucaotexto boxcodigohaskellshow">
                    <span class="fw-bold" style="color: #1E5B98">Codificação Haskell: <br></span>                    
                    <textarea class="slab-100 monospace" id="showcodigohaskell" name="showcodigohaskell" readonly>{USERCODIGOHASKELL}</textarea>
                </div>
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Resultado dos testes</span>
                    <div class="resultados">
                    <!-- BEGIN BLOCK_RESULTADOSOBTIDOS -->                                                                                 
                        <div class="ink-tabs top boxresultados" data-prevent-url-change="true" style="margin-bottom: 0">
                            <!-- If you"re using "bottom" positioning, put this div AFTER the content. -->
                            <ul class="tabs-nav" style="margin: 0 10px 0 0">
                                <li><a class="tabs-tab" href="#resultados" style="padding: 2px; font-size: 12px">Resultados</a></li>
                                <li><a class="tabs-tab" href="#saidahugs"  style="padding: 2px; font-size: 12px">Saída Hugs</a></li>
                            </ul>
                            <!-- Now just place your content -->
                            <div id="resultados" class="tabs-content" style="margin-top: 0">                        
                                {RESULTTABLES}
                            </div>
                            <div id="saidahugs" class="tabs-content" style="margin-top: 0; line-height: 1">
                                {RESULTHUGS}
                            </div>           
                        </div>
                    <!-- END BLOCK_RESULTADOSOBTIDOS -->
                         Os testes não foram realizados...               
                    <!-- FINALLY BLOCK_RESULTADOSOBTIDOS -->
                    </div>
                </div>
            </div>
        </div>        
        <div class="tiny-100 small-100 medium-100 large-40 xlarge-40 boxcoments">
            <div class="column-group boxallcomentarios">
                <span class="fw-500 all-100" id="resultcoment{USERSOLUCAOID}"><i class="fa fa-comments-o"></i> Comentários</span>
                <!-- BEGIN BLOCK_COMENTARIO -->                
                    <div class="boxcomentario ink-form column-group all-100">
                        <div class="fw-400 all-100 nome">
                            {COMENTARIOUSER}:
                        </div>
                        <div class="fw-300 all-100 comentario">
                            {COMENTARIO}
                        </div>
                    </div>
                <!-- END BLOCK_COMENTARIO -->                 
                <div class="inserircomentario ink-form all-100">                    
                    <div class="fw-500  imgusercoment" title="{USERLOGADONOME}"><i class="fa fa-user"></i></div>                        
                    <div class="divtextarea">
                        <textarea class="textareacoment" id="comentario{USERSOLUCAOID}" name="comentario" placeholder="Escreva um comentário..."></textarea>
                    </div>                    
                    <a href="javascript:void(0)" onclick="return enviarComentario({USERSOLUCAOID})" class="ink-button smaller " ><i class="fa fa-send-o"></i> Enviar Comentário</a>
                </div>
                
            </div>
        </div>
    </div>     
    
</div>               
    
