<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo exercício foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<h3><i class="fa fa-pencil-square"></i> Projetos e Trabalhos</h3>


    
    <!-- BEGIN BLOCK_PROJETO -->
            
    <ul class="unstyled">
        <li>
            <a href="{LINK_PROJETOID}" id="{PROJETOID}">{PROJETOTITULO}</a>
             - 
            <a href="{LINK_PROJETOEDIT}">[Editar]</a>
        </li>        
    </ul>
                
    <!-- END BLOCK_PROJETO -->
    
    <div class="ink-alert basic info align-center" role="alert">
        <p><b>Iniciando! </b> Ainda não temos projetos ou trabalhos cadastrados.<br>
        </p>
    </div> 
    
    <!-- FINALLY BLOCK_PROJETO -->
    



