<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo exercício foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<!-- BEGIN BLOCK_NAOENCONTRADO -->
    <div class="ink-alert basic error" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>:(</b> Não encontrei este exercício.</p>
    </div>    
<!-- END BLOCK_NAOENCONTRADO -->

<h2 class="fw-400">{EXERTITULO}</h2>

    
    <!-- BEGIN BLOCK_EXERCICIO -->
        <div id="{EXERID}" class="exerenunciado">
            {EXERENUNCIADO}
        </div>
        
        
        <div class="formcontrole " style="text-align: right;">
            <a class="ink-button "      href="{LINK_VOLTAR}"> Voltar</a>
            <a class="ink-button blue " href="{LINK_ENVIARSOLUCAO}"> Construir uma Solução</a>
        </div>
        
    
                
    <!-- END BLOCK_EXERCICIO -->
    


