<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> O novo Projeto foi salvo</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<!-- BEGIN BLOCK_NAOENCONTRADO -->
    <div class="ink-alert basic error" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>:(</b> Não encontrei este projeto.</p>
    </div>    
<!-- END BLOCK_NAOENCONTRADO -->

<h2 class="fw-400">{PROJETOTITULO}</h2>

    
    <!-- BEGIN BLOCK_PROJETO -->
        <div class="boxborder">
            <div class="boxborderbody">
                <div id="{PROJETOID}" class="exerenunciado" style="margin: 15px 0">
                    {PROJETOENUNCIADO}
                </div>
            </div>
        </div>
        
        
    
    
        <div class="boxborder">
            <div class="boxborderhead">
                <h4 class="fw-300"> Minhas Soluções </h4>
            </div>
            <div class="boxborderbody" style="padding: 16px">
            <!-- BEGIN BLOCK_PROJETOSOLUCAO -->
            <p class="fw-300">
                Solução iniciada em: {PROJETOSOLUCAOID} - <a href="{LINK_MOSTRAPROJETOSOLUCAO}" class="small"><i class="fa fa-external-link"> Ver</i></a> | <a href="{LINK_EDITPROJETOSOLUCAO}" class="small"><i class="fa fa-edit"></i> Editar</a>                
            </p>
                
            <!-- END BLOCK_PROJETOSOLUCAO -->
                
                Nenhuma solução ainda foi enviada para este projeto.
            
            <!-- FINALLY BLOCK_PROJETOSOLUCAO -->
            </div>
        </div>
        
        <div class="formcontrole " style="text-align: right;">
            <a class="ink-button "      href="{LINK_VOLTAR}"> Voltar</a>
            <a class="ink-button blue " href="{LINK_ENVIARSOLUCAO}"> Iniciar Projeto</a>
        </div>
        
    <!-- END BLOCK_PROJETO -->
    
    
    

        
                
    


