<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> A nova Lista de Exercício foi salva</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->
<div class="boxborder" role="alert">
    <div class="boxborderhead" role="alert">
        <a class="fw-700 ink-button default pull-right small" href="{LINK_RELATORIOLISTAS}" style="margin: 0 0 0 5px;"><i class="fa fa-list"></i> Acompanhamento das Listas de Exercícios</a>
        <a class="fw-700 ink-button blue pull-right small" href="{LINK_NOVALSTEXER}"><i class="fa fa-plus-square-o"></i> Nova Lista de Exercícios</a>
        <h2 class="fw-400"><i class="fa fa-list-alt "></i> Listas de Exercícios</h2>
    </div> 
    <div class="boxborderbody" role="alert">
        <br>
        <table class="ink-table bordered tablerltexer hover center medium fw-400">
        <!-- BEGIN BLOCK_LISTAS -->            
                <tr>
                    <td> <a href="{LINK_MOSTRALISTA}" id="{EXERID}">{EXERTITULO}</a> </td>
                    <td> <a class="basic " title="Editar" href="{LINK_EDITARLISTA}" ><i class="fa fa-edit"></i> Editar</a> </td>
                    <td> <a class="basic " title="Ver relatório" href="{LINK_RELATORIOLISTAEXER}" ><i class="fa fa-list"></i> Acompanhamento desta Lista</a> </td>
                </tr>                    
        <!-- END BLOCK_LISTAS -->           
        <div class="ink-alert basic info align-center" role="alert">
            <p><b>Iniciando! </b> Ainda não temos Listas de Exercícios cadastradas.
               <br> Você pode cadastrar uma nova Lista de Exercícios clicando em: <a class="fw-700" href="{LINK_NOVALISTA}"><i class="fa fa-list-alt"></i> Nova Lista de Exercício</a>
            </p>
        </div>    
        <!-- FINALLY BLOCK_LISTAS -->
        </table>
    </div>    
</div>    

