<form name="formnovoprojetosolucao" id="formnovoprojetosolucao" class="ink-form tiny-100 small-100 medium-100 large-70 xlarge-70" method="POST" enctype="application/json" action="{LINK_FORMACTION}">
    <input name="formprojetosolucao" type="hidden" value="500">
    <input name="idps" id="idps" type="hidden" value="{PROJETOSOLUCAOID}">
    <input name="idprojeto" id="idprojeto" type="hidden" value="{PROJETOID}">
    
    <!---<div class="ink-alert block info exerenunciado" role="alert">--->
    <div class="boxlistaexer">
        <div class="projetoenunciado">        
            <h4 class="">{PROJETOTITULO}</h4>
            <p>{PROJETOENUNCIADO}</p>
        </div>    
    </div>          
    
    <div class="control-group">
        <label class="labeltitulo2 fw-bold" for="text-input">Solução <small class="fw-300" > Descrição do seu projeto</small></label> 
        <div class="control">            
            <textarea id="mytextarea1" name="mytextarea1" style="width:100%; resize: vertical;">{EDITSOLUCAO}</textarea>
        </div>        
    </div>

    <div class="control-group">
        <label class="labeltitulo2 fw-bold" for="text-input">Codificação <small class="fw-300" > Haskell</small></label> 
        <div class="control slab-100 monospace boxcodigohaskell">            
            <textarea class="slab-100 monospace" id="codigohaskell" name="codigohaskell" rows="15" style="width:100%; font-family: 'monospace';resize: vertical; line-height: 16px; font-size: 14px;">{EDITCODIGOHASKELL}</textarea>
        </div>        
    </div>    
    
    <div class="control-group">
        <label class="labeltitulo2 fw-bold" for="text-input">Instruções <small class="fw-300" > Opcional</small></label> 
        <div class="control">            
            <textarea id="mytextarea2" name="mytextarea2" style="width:100%; resize: vertical;">{EDITINSTRUCOES}</textarea>
        </div>        
    </div>    
               
    
    <div class="formcontrole">
        <!---<button type="submit" class="ink-button green pull-right" name="" id="btnenviarsolucao" value="enviarsolucao">Salvar</button>--->
        <a class="ink-button" href="{LINK_CANCELAR}"> Voltar</a>
        <!---<a id="btnsocializar" class="ink-button orange" value="2" tabindex="0"  href="javascript:void(0);" onclick="socializarSolucao();" ><i class="fa fa-share-alt"></i> Socializar</a>--->
        <div class="push-right">            
            <select id="solucaoestado" name="projetosolucaoestado" >
                <option value="incompleto">Projeto Incompleto</option>
                  <option value="completo">Projeto Completo</option>
            </select>
            <a id="btnsalvarprojetosolucao" class="ink-button green " value="2" tabindex="0"  href="javascript:void(0);" onclick="salvarProjetoSolucao();" ><i class="fa fa-save"></i> Salvar</a>
        </div>
    </div>

</form>
