<h2 class="fw-400">Novo Projeto</h2>

<form name="formnovoprojeto" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
    <div class="tiny-100 small-100 medium-70 large-70 xlarge-70 vertical-nospace">
        <input name="formprojeto" type="hidden" value="500">

        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Título</label> 
            <div class="control">
                <input name="titulo" id="titulo" type="text" placeholder="">
            </div>
            <p class="tip">(opcional)</p>
        </div>
        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Descrição do Projeto</label> 
            <div class="control">            
                <textarea id="mytextarea1" name="mytextarea1" style=" resize: vertical; height: 50px;"></textarea>
            </div>        
        </div>        
    </div>       

    <div class="formcontrole all-100">
        <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
        <button type="submit" class="ink-button green" name="" id="btnsalvarprojeto" value="salvarprojeto">Criar Novo Projeto</button>
    </div>

</form>
