<h2 class="fw-400">Novo Exercício</h2>

<form name="formnovoexercicio" class="ink-form column-group gutters" method="POST" enctype="multipart/form-data" action="{LINK_FORMACTION}">
    <div class="tiny-100 small-100 medium-70 large-70 xlarge-70 vertical-nospace">
        <input name="formexercicio" type="hidden" value="500">

        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Título</label> 
            <div class="control">
                <input name="exertitulo" id="exertitulo" type="text" placeholder="">
            </div>
            <p class="tip">(opcional)</p>
        </div>
        <div class="control-group">
            <label class="labeltitulo fw-bold" for="text-input">Enunciado</label> 
            <div class="control">            
                <textarea id="mytextarea1" name="mytextarea1" style=" resize: vertical; height: 50px;"></textarea>
            </div>        
        </div>

        <div class="control-group">
            <div class="all-100">
                <label class="labeltitulo fw-bold" for="text-input">Plano de Teste <small class="fw-300" > (Correção automática)</small></label>
                <div class="all-100 ">
                <div class="control">

                    <table class="ink-table alternating" style="border-bottom: 1px solid #AAA; margin-bottom: 5px">
                        <thead>
                            <tr>
                                <th class="align-left">Descrição</th>
                                <th class="align-left">Entrada</th>
                                <th class="align-left">Saída Esperada</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="bodyteste">


                        </tbody>
                    </table>               
                    <div class="align-center">
                        <a id="btnaddteste" class="ink-button pull-right smaller" value="0" href="javascript:void(0);"><i class="fa fa-plus"></i> Adicionar teste</a>                        
                    </div>                
                    <div style="clear: both; padding: 15px 0 0 10px">
                            <input type="checkbox" id="mostraplano" name="mostraplano" value="M"><label for="mostraplano" style="line-height:16px;">Mostrar este plano de teste para o aluno. <br><small>Por padrão este plano de teste não é mostrado para o aluno, ele será usado apenas para a correção automática da codificação enviada pelo aluno.</small></label>
                    </div>

                </div>
                </div>
            </div>
        </div>  

        <div class="control-group hide-all">
            <label class="labeltitulo fw-bold" for="text-input">Envio da Solução <small class="fw-300"> (Solução enviada pelo aluno)</small></label> 
            <div class="control" style="clear: both; padding: 0 0 0 10px">            
                <ul class="unstyled" style=" margin: 0;">
                    <li>
                        <input type="radio" id="radiomce" name="enviosolucao" checked="checked" value="M"><label for="radiomce" style="line-height:16px;">MCP<br><small>(Metodologia para Construção de um Programa)</small></label>
                    </li>
                    <li>
                        <input type="radio" id="radiotexto" name="enviosolucao"  value="M"><label for="radiotexto" style="line-height:16px;">Texto<br><small>(Um texto como resposta)</small></label>
                    </li>

                </ul>
            </div>
        </div>    
    </div>
    <div class="tiny-100 small-100 medium-30 large-30 xlarge-30">
        <label class="labeltitulo fw-bold" for="text-input">Outras Opções<small class="fw-300"></small></label> 
        <div class="control" style="clear: both; padding: 0 0 0 10px">            
            <ul class="unstyled " style=" margin: 8px 0 0 0;">
                <li class="vertical-nospace fw-700">
                    Nível de Dificuldade
                </li>
                <li>
                    <input type="radio" id="1" name="nivel" value="facil" checked="checked"><label for="1" style="line-height:16px;">1<small>(fácil)</small></label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="2" name="nivel" value="medio"><label for="2" style="line-height:16px;">2<small>(médio)</small></label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="3" name="nivel" value="dificil"><label for="3" style="line-height:16px;">3<small>(difícil)</small></label>
                </li>

            </ul>
        </div>

    </div>    

    <div class="formcontrole all-100">
        <a class="ink-button" href="{LINK_CANCELAR}"> Cancelar</a>
        <button type="submit" class="ink-button green" name="" id="btnsalvarexercicio" value="salvarexercicio">Salvar Exercício</button>
    </div>

</form>
