<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> A nova AP foi salva</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->

<div style="margin: 0 10px; overflow-x: scroll; width: 98%">  

        <h2 class="fw-400"><i class="fa fa-list-alt "></i> Acompanhamento das APs</h2>


        
        <!-- BEGIN BLOCK_LISTAS -->        
        <table class="ink-table bordered fw-300 small tablerltexer alternating">
            <!--- Cabeçallho --->
            <thead>
                <tr>
                    <th class="">Listas:</th>
                    <!--- LISTAS --->
                    <!-- BEGIN BLOCK_LISTANOME -->
                    <td colspan="{LSTQTDEXER}" class="align-center" style="overflow: hidden;" title="{LSTNOME}">{LSTNOME}</td>
                    <!-- END BLOCK_LISTANOME -->
                </tr>
                <tr>
                    <!--- exercicios N*--->
                    <th class="">Atividades</th>
                    <!-- BEGIN BLOCK_INDEXEXER -->
                    <th style="width: 2.3%">{INDEXEXER}</th>
                    <!-- END BLOCK_INDEXEXER -->
                </tr>
            </thead>
            <!--- ALUNOS --->
            <tbody>
                <!-- BEGIN BLOCK_RLTUSERLINHA -->
                <tr>
                    <th class="align-left" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{RLTUSERNAME}</th>                    
                    <!--- exercicios --->
                        <!-- BEGIN BLOCK_RLTUSEREXER -->
                    <td class="align-center">{RLTUSEREXER}</td>
                        <!-- END BLOCK_RLTUSEREXER -->
                </tr>
                <!-- END BLOCK_RLTUSERLINHA -->
            </tbody>
            
        </table>
        <!-- END BLOCK_LISTAS -->
            <div class="ink-alert basic info align-center" role="alert">
                <p><b>Iniciando! </b> Ainda não temos APs cadastradas.       
                    <br> Você pode cadastrar uma nova AP clicando em: <a class="fw-700" href="{LINK_NOVALISTA}"><i class="fa fa-list-alt"></i> Nova AP</a>        
                </p>
            </div>    
        <!-- FINALLY BLOCK_LISTAS -->

</div>

