<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> A nova Lista de Exercício foi salva</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->


<div style="margin: 0 10px; width: 98%">  

        <h2 class="fw-400"><i class="fa fa-list-alt "></i>Acompanhamento de Atividade</h2>

        <div class="boxlistaexer" id="{EXERID}">
            <div class="exerenunciado">        
                <h4 class="">{EXERTITULO}</h4>
                <p>{EXERENUNCIADO}</p>
            </div>    
        </div>                
        
        
            <!-- BEGIN BLOCK_LISTAS -->
            <table class="ink-table bordered fw-300 small tablerltexer alternating" style="margin: 15px 0 0 0">
                <!--- Cabeçallho --->
                <thead>
                    <tr>
                        <th class="align-center" valign="bottom" ><h3 style="margin: 5px 0 0 0">Alunos</h3></th>
                        <th class="align-center" valign="bottom" ><h3 style="margin: 5px 0 0 0">Histórico de Soluções</h3></th>                        
                        <th class="align-center" valign="bottom" style="color:{CORTES}" title="Testes"><i class="fa fa-{ICONTES}"></i></th>
                        <th class="align-center" valign="bottom" style="color:{CORINC}" title="Incompletas"><i class="fa fa-{ICONINC}"></i></th>
                        <th class="align-center" valign="bottom" style="color:{CORCOM}" title="Completas"><i class="fa fa-{ICONCOM}"></i></th>
                    </tr>
                </thead>
                <!--- ALUNOS --->
                <tbody>
                    <!-- BEGIN BLOCK_RLTUSERLINHA -->
                    <tr>
                        <th class="align-left" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{RLTUSERNAME}</th>                    
                        <!--- SOLUÇÕES DO ALUNO --->
                        <!-- BEGIN BLOCK_RLTUSEREXER -->
                        <td class="align-left">{RLTUSERHISTSOLUCOES}</td>
                        
                        <td class="align-center" style="color:{CORTES}" title="Testes">{QTDTES}</td>
                        <td class="align-center" style="color:{CORINC}" title="Incompletas">{QTDINC}</td>
                        <td class="align-center fw-500" style="color:{CORCOM}" title="Completas">{QTDCOM}</td>
                        <!-- END BLOCK_RLTUSEREXER -->
                    </tr>
                    <!-- END BLOCK_RLTUSERLINHA -->
                </tbody>

            </table>
            <!-- END BLOCK_LISTAS -->

</div>

