<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> A nova Lista de Exercício foi salva</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->


<div style="margin: 0 10px; width: 98%">  
    
    <div class="push-left">
        <h2 class="fw-400" ><i class="fa fa-list-alt "></i> Acompanhamento de Aluno</h2>
    </div>  
    
    <div class="push-right">
        <div class="ink-dropdown" data-target="#my-menu-dropdown">
            <button class="ink-button small" >{LISTAALUNOATUAL} <i class="fa fa-chevron-down"></i></button>
            <ul id="my-menu-dropdown" class="dropdown-menu" style="margin-right: 10px">
                <!-- BEGIN BLOCK_LINKSALUNOS -->
                <li class="medium" style="overflow: hidden; white-space: nowrap; "><a href="{LINK_ALUNOS}">{LISTAALUNONOME}</a></li>
                <!-- END BLOCK_LINKSALUNOS -->
            </ul>
        </div>
    </div>
    <div class="push-right" style="margin: 4px 5px 0 0">
        Alunos: 
    </div>
                
    <div class="column-group all-100">            
        
        <div class="boxlistaexer all-100" style="margin: 0 0 18px 0;">
            <div class="exerenunciado">        
                <h4 class=""><i class="fa fa-user"></i> {TITNOMEALUNO}</h4>
            </div>    
        </div>  
                        
    <!-- BEGIN BLOCK_LISTAS -->

        <div class="column-group" >
        <!-- BEGIN BLOCK_RLTUSERLINHA -->

            <!-- BEGIN BLOCK_LISTATITULO -->
            <div class="all-15 medium fw-500" style=" margin: 0 0 20px 0; background-color: #F0F0F0; overflow: hidden; border:1px solid #bbb; border-right: 0;  padding: 10px;" >
                {RLTLISTATITULO}
            </div>
            <!-- END BLOCK_LISTATITULO -->

            <div class="all-85" style="margin: 0 0 20px 0">
                <table class="ink-table bordered fw-300 small alternating" style="margin: 0 0 0 0">
                <thead>
                    <tr>
                        <th class="align-center" valign="bottom" colspan="2"> Histórico de Soluções</th>
                        <th class="align-center" valign="bottom" style="width: 30px; color:{CORTES}" title="Testes"><i class="fa fa-{ICONTES}"></i></th>
                        <th class="align-center" valign="bottom" style="width: 30px; color:{CORINC}" title="Incompletas"><i class="fa fa-{ICONINC}"></i></th>
                        <th class="align-center" valign="bottom" style="width: 30px; color:{CORCOM}" title="Completas"><i class="fa fa-{ICONCOM}"></i></th>
                    </tr>
                </thead>
                <tbody>
                <!-- BEGIN BLOCK_RLTUSEREXER -->
                    <tr style="">
                        <td class="align-left" style="width: 90px; " id="{EXERNUM}" title="{EXERTIT}"><b>Atividade {EXERNUM}</b></td>
                        <td class="align-left">{RLTUSERHISTSOLUCOES}</td>
                        <td class="align-center" style="width: 30px; color:{CORTES}" title="Testes">{QTDTES}</td>
                        <td class="align-center" style="width: 30px; color:{CORINC}" title="Incompletas">{QTDINC}</td>
                        <td class="align-center fw-500" style="width: 30px; color:{CORCOM}" title="Completas">{QTDCOM}</td>                                                        
                    </tr>
                <!-- END BLOCK_RLTUSEREXER -->
                </tbody>
                </table>
            </div>

        <!-- END BLOCK_RLTUSERLINHA -->

        </div>
    <!-- END BLOCK_LISTAS -->            
    
        </div>
            
    </div>
</div>
            
   