<!-- BEGIN BLOCK_MSGSALVO -->
    <div class="ink-alert basic success" role="alert">
        <button class="ink-dismiss">&times;</button>
        <p><b>Sucesso!</b> A nova Lista de Exercício foi salva</p>
    </div>    
<!-- END BLOCK_MSGSALVO -->


<div style="margin: 0 10px; width: 98%">  

    
    <div class="push-left">
        <h2 class="fw-400" style="margin: 0;"><i class="fa fa-list-alt "></i> Acompanhamento da AP</h2>
    </div>

    <div class="push-right">
        <div class="ink-dropdown" style="display: inline-block" data-target="#my-menu-dropdown">
            <button class="ink-button small">{LISTANOMEATUAL} <i class="fa fa-chevron-down"></i></button>
            <ul id="my-menu-dropdown" class="dropdown-menu">
                <!---<li class="heading">I am a heading</li>
                <li class="separator-above"><a href="#">Option</a></li>
                <li class="separator-above disabled"><a href="#">Disabled option</a></li>--->
                <!-- BEGIN BLOCK_LINKSLISTAS -->
                <li><a href="{LINK_LISTA}">{LISTANOME}</a></li>
                <!-- END BLOCK_LINKSLISTAS -->
            </ul>
        </div>
            &nbsp;<a href="{LINKLISTAATUAL}" class="ink-button small push-right" title="Acessar esta Lista"> <i class="fa fa-external-link"></i></a>
    </div>
    <div class="push-right" style="margin: 4px 5px 0 0">
       Lista de APs: 
    </div>
    
        
    <div class="column-group all-100">
            
        <div class="ink-tabs top style-hook-example" data-prevent-url-change="true">

            <ul class="tabs-nav" style="margin: 10px 0 0 0;">
                <li><a class="tabs-tab small" href="#poraluno"><i class="fa fa-user"></i> Por Aluno</a></li>
                <li><a class="tabs-tab small" href="#porexercicio"><i class="fa fa-file-text-o"></i> Por Atividade</a></li>
            </ul>
            
            
            <!-- BEGIN BLOCK_LISTAS -->        
            <div class="tabs-content" id="poraluno">
                
                <div class="column-group" >
                <!-- BEGIN BLOCK_RLTUSERLINHA -->
                
                    <!-- BEGIN BLOCK_TBLUSERNAME -->
                    <div class="all-15 medium fw-500" style=" margin: 0 0 20px 0; background-color: #F0F0F0; overflow: hidden; border:1px solid #bbb; border-right: 0;  padding: 10px;" >
                            {RLTUSERNAME}                             
                    </div>
                    <!-- END BLOCK_TBLUSERNAME -->
                    
                    <div class="all-85" style="margin: 0 0 20px 0">
                        <table class="ink-table bordered fw-300 small alternating" style="margin: 0 0 0 0">
                        <thead>
                            <tr>
                                <th class="align-center" valign="bottom" colspan="2"> Histórico de Soluções</th>
                                <th class="align-center" valign="bottom" style="width: 30px; 0color:{CORTES}" title="Testes"><i class="fa fa-{ICONTES}"></i></th>
                                <th class="align-center" valign="bottom" style="width: 30px; color:{CORINC}" title="Incompletas"><i class="fa fa-{ICONINC}"></i></th>
                                <th class="align-center" valign="bottom" style="width: 30px; color:{CORCOM}" title="Completas"><i class="fa fa-{ICONCOM}"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- BEGIN BLOCK_RLTUSEREXER -->
                            <tr style="">
                                <td class="align-left" style="width: 90px;" id="{EXERNUM}" title="{EXERTIT}"><b>Atividade {EXERNUM}</b></td>
                                <td class="align-left">{RLTUSERHISTSOLUCOES}</td>
                                <td class="align-center" style="width: 30px; color:{CORTES}" title="Testes">{QTDTES}</td>
                                <td class="align-center" style="width: 30px; color:{CORINC}" title="Incompletas">{QTDINC}</td>
                                <td class="align-center fw-500" style="width: 30px; color:{CORCOM}" title="Completas">{QTDCOM}</td>                                                        
                            </tr>
                    <!-- END BLOCK_RLTUSEREXER -->
                        </tbody>
                        </table>
                    </div>
                
                <!-- END BLOCK_RLTUSERLINHA -->

                </div>
            <!-- END BLOCK_LISTAS -->
            </div>
                                    
            <!-- BEGIN BLOCK_LISTAS_2 -->
            <div class="tabs-content all-100" id="porexercicio">
                
                
                <div class="column-group" >
                    
                
                <!-- BEGIN BLOCK_LISTAEXERNUM_2 -->
                    <!-- BEGIN BLOCK_ENUNEXER_2 -->
                    
                    <div class="all-100 boxlistaexer" style="margin: 0 0 20px 0">
                        <div id="{EXERID_2}" class="exerenunciado">
                            <h4>{EXERTITULOALIAS_2}</h4>
                            <div class="small">{EXERENUNCIADO_2}</div>
                        </div>
                    
                    <!-- END BLOCK_ENUNEXER_2 -->                                        
                    
                    <div class="all-100">
                            <table class="ink-table bordered fw-300 small alternating" style="margin: 0 0 0 0">
                            <thead>
                                <tr>
                                    <th class="align-center all-20" valign="bottom" > Alunos</th>
                                    <th class="align-center" valign="bottom" > Histórico de Soluções</th>
                                    <th class="align-center" valign="bottom" style="width: 30px; color:{CORTES_2}" title="Testes"><i class="fa fa-{ICONTES_2}"></i></th>
                                    <th class="align-center" valign="bottom" style="width: 30px; color:{CORINC_2}" title="Incompletas"><i class="fa fa-{ICONINC_2}"></i></th>
                                    <th class="align-center" valign="bottom" style="width: 30px; color:{CORCOM_2}" title="Completas"><i class="fa fa-{ICONCOM_2}"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                            <!-- BEGIN BLOCK_RLTUSERLINHA_2 -->                                       
                                <tr style="">
                                    <th class="align-left all-20"><b>{RLTUSERNAME_2}</b></th>

                                    <td class="align-left">{RLTUSERHISTSOLUCOES_2}</td>
                                    <td class="align-center" style="width: 30px; color:{CORTES_2}" title="Testes">{QTDTES_2}</td>
                                    <td class="align-center" style="width: 30px; color:{CORINC_2}" title="Incompletas">{QTDINC_2}</td>
                                    <td class="align-center fw-500" style="width: 30px; color:{CORCOM_2}" title="Completas">{QTDCOM_2}</td>

                                </tr>
                            <!-- END BLOCK_RLTUSERLINHA_2 -->
                            </tbody>
                            </table>
                        </div>                
                    </div>
            <!-- END BLOCK_LISTAEXERNUM_2 -->
            </div>
                
                
            <!-- END BLOCK_LISTAS_2 -->            
            </div>
    
        </div>
            
    </div>
</div>
            
   