<a class="pull-right" href="{LINK_VOLTARLISTEXER}"> << Voltar para a lista de exercícios</a>
<h2 class="fw-400">Socialização das Soluções</h2>
<div class="">
    <div class="boxlistaexer" id="{EXERID}">
        <div class="exerenunciado">        
            <h4 class="">{EXERTITULO}</h4>
            <p>{EXERENUNCIADO}</p>
        </div>    
    </div>        
    
    <!-- BEGIN BLOCK_SOCIALIZACAOFECHADA -->
    <div class="ink-alert basic info" role="alert">        
        <p><b>Socialização fechada...</b> Os alunos não possuem permissão para ver esta socialização.</p>
    </div>
    <!-- END BLOCK_SOCIALIZACAOFECHADA -->
    
    <h3 class="fw-500" style="color:#1E5B98;">Soluções</h3>
    
    <!-- BEGIN BLOCK_SOLUCAO -->
                        
    <div class="column-group boxsolucao" id="{USERSOLUCAOID}">
        
        <div class="tiny-100 small-100 medium-100 large-60 xlarge-60 boxsrel">
            <div class="column-group">
                <div class="column-group all-100">
                    <div class="column all-70">
                        <span class="fw-500"><i class="fa fa-user"></i> {USERSOLUCAONOME}</span>
                    </div>
                    <div class="column all-30">                        
                        <a href="{LINK_MOSTRASOLUCAO}" class="small pull-right" id="linksolucaocompleta"><i class="fa fa-external-link"></i> Solução completa</a>
                    </div>
                </div>
                <div class="asolucao all-100 solucaotexto">
                    <label><input type="checkbox" name="planotestes" id="p{USERSOLUCAOID}"/>
                    <span class="fw-bold" style="color: #1E5B98">Plano de teste:</span></label>
                    <!-- BEGIN BLOCK_BOXTESTES -->    
                    <table class="ink-table alternating small bordered" style="border-bottom: 1px solid #AAA; margin-bottom: 5px">
                        <thead>
                            <tr>
                                <th class="align-left all-33">Descrição</th>
                                <th class="align-left all-33">Entrada</th>
                                <th class="align-left all-23">Saída Esperada</th>
                            </tr>
                        </thead>
                        <tbody id="bodyteste">
                            <!-- BEGIN BLOCK_TESTES -->                                            
                            <tr>
                                <td>{TESTEDESCRICAO}</td>
                                <td>{TESTEENTRADA}</td>
                                <td>{TESTESAIDAES}</td>
                            </tr>
                            <!-- END BLOCK_TESTES --> 
                        </tbody>
                    </table>                     
                    <!-- END BLOCK_BOXTESTES -->
                </div>
                
                <div class="asolucao all-100 solucaotexto "> 
                    <div class="column">                        
                        <a href="{LINK_EDITARSOLUCAO}" class="small pull-right" id="linksolucaocompleta"><i class="fa fa-edit"></i> Editar no construtor de soluções</a>
                    <label><input type="radio" name="rcodigos" id="c{USERSOLUCAOID}"/>
                    <span class="fw-bold" style="color: #1E5B98">Codificação Haskell: <br></span></label>
                    </div>

                    
                    
                    <div class="codigohaskell boxcodigohaskellshow monospace" data-lang="text/html">                                                
                        <div style='border: 1px solid #BBB; background-color: white; padding: 5px 10px'>
                            <pre class='small' style=" white-space: pre-wrap;">{USERCODIGOHASKELL}</pre>
                        </div>
                        <!---<textarea class="slab-100 monospace showcodigohaskell" id="showcodigohaskell{USERSOLUCAOID}" name="showcodigohaskell{USERSOLUCAOID}" readonly>{USERCODIGOHASKELL}</textarea>--->
                    </div>
                </div>
                
                <!-- BEGIN BLOCK_RESULTADOSOBTIDOS -->
                <div class="asolucao all-100 solucaotexto">
                    <span class="fw-bold" style="color: #1E5B98">Resultado dos testes</span>                                        
                    <div class="small" style="border: 1px solid #BBB; padding: 0; margin: 0">
                    {RESULTTABLES}
                    </div>
                </div>
                <!-- END BLOCK_RESULTADOSOBTIDOS -->
<!---                <div class="asolucao all-100 solucaotexto">                    
                    {USERSOLUCAOTEXTO}
                </div>             --->
            </div>
        </div>
        <div class="tiny-100 small-100 medium-100 large-40 xlarge-40 ">
            <div class="column-group boxcoments">
                <span class="fw-500 all-100" id="resultcoment{USERSOLUCAOID}"><i class="fa fa-comments-o"></i> Comentários</span>
                <!-- BEGIN BLOCK_COMENTARIO -->                
                    <div class="boxcomentario ink-form column-group all-100">
                        <div class="fw-400 all-100 nome">
                            {COMENTARIOUSER}:
                        </div>
                        <div class="fw-300 all-100 comentario">
                            {COMENTARIO}
                        </div>
                    </div>
                <!-- END BLOCK_COMENTARIO -->                 
                <div class="inserircomentario ink-form all-100">                    
                    <div class="fw-500  imgusercoment" title="{USERLOGADONOME}"><i class="fa fa-user"></i></div>                        
                    <div class="divtextarea">
                        <textarea class="textareacoment" id="comentario{USERSOLUCAOID}" name="comentario" placeholder="Escreva um comentário..."></textarea>
                    </div>                    
                    <a href="javascript:void(0)" onclick="return enviarComentario({USERSOLUCAOID})" class="ink-button smaller " ><i class="fa fa-send-o"></i> Enviar Comentário</a>
                </div>                                
                
            </div>
        </div>
    </div>    
    <!-- END BLOCK_SOLUCAO -->
    
    <!-- BEGIN BLOCK_SEMSOLUCAO -->
        <div class="ink-alert basic info" role="alert">        
            <p><b>Sem soluções!</b> Ainda não foram socializadas soluções para este exercício</p>
        </div>
    <!-- END BLOCK_SEMSOLUCAO -->
    
    <!-- BEGIN BLOCK_USERSEMSOLUCAO -->
        <div class="ink-alert basic warning" role="alert">        
            <p class='align-center'><b>Socialização Restrita!</b> <br> Para visualizar as Soluções dos seus colegas você precisa já ter enviado pelo menos uma solução.</p>
        </div>
    <!-- END BLOCK_USERSEMSOLUCAO -->    
    
    <!-- BEGIN BLOCK_NAOSOCIALIZAR -->
        <div class="ink-alert basic info" role="alert">        
            <p><b>Estamos fechado...</b> Volte mais tarde.</p>
        </div>
    <!-- END BLOCK_NAOSOCIALIZAR -->
    
</div>

